{% load static crispy_forms_tags i18n %}

<span id="navSubTitle" hx-swap-oob="true">{% trans "Register" %}</span>
<div class='content'>
  <p>
    {% comment %} {% blocktrans %} {% endcomment %}
    Hi {{ request.user.first_name }}, thanks for your interest in becoming a reviewer as part of the World Heat Flow Database Project. We need some more information from you before we can proceed. Please correct the following 
    {% comment %} {% endblocktrans %} {% endcomment %}
  </p>
    <div class='content'>
      {% for label, template, form in forms %}
        <section id="{{label|slugify}}" class='searchable border-bottom py-5'>
          <h4>{{ label }}</h4>
          {% include template %}
        </section>
        {% endfor %}
    </div>
</div>