{% extends "review/base.html" %}
{% load geoluminate static sekizai_tags i18n %}

{% block nav_title_bold %}{% trans "Reviewing" %}:{% endblock %}
{% block nav_title %}{{review.publication.title|truncatewords:5}}{% endblock nav_title %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
{% endblock head %}

{% block app_menu %}
<div id='appMenu' class="container-fluid">
  <ul class='nav w-100' id="myTab" role="tablist" hx-target='#tabbedContent'>
    <li><a href class="icon fa-book" type="button" role="tab">
        <span>Reference</span>
          {% if object.publication.source == 'Crossref' %}
            <i class='fa fa-check-circle text-success'></i>
          {% endif %}
      </a></li>
      <li><a href class="icon fa-table" type="button" role="tab">
        <span>Edit</span>
        <i class='fa fa-check-circle text-success'></i>
      </a></li>
      <li><a href class="icon fa-book" type="button" role="tab">
        <span>Map</span>
        <i class='fa fa-check-circle text-success'></i>
      </a></li>
      <li><a href class="icon fa-th-list" type="button" role="tab">
        <span>Review</span>
        <i class='fa fa-check-circle text-success'></i>
      </a></li>
      <li><a href class="icon fa-check-double" type="button" role="tab">
        <span>Submit</span>
      </a></li>
  
    <li class='ms-auto'>
      <a class="icon fa-expand expand" type="button" data-target='#outer'></a>
    </li>
  </ul>
</div>
{% endblock app_menu %}


{% block content %}
<div id="tabbedContent" class="tab-content fill">
  {% include "review/hx/reference.html" %}
</div>
{% endblock content %}




