{% load static sekizai_tags geojson_tags %}
<div id="heat-production-container" class='tab-pane fade'>
  <div class='table-responsive'>
    <table id="heat-production-table" class="table table-hover w-100" data-ajax="{{table.url}}?format=datatables&{{filter_by}}">
      <thead>
        <tr>
          <th colspan={{cell.0}}><span {% if cell.2 %}data-placement="right" data-trigger="hover" data-html="true" data-content="{{cell.2|safe}}"{% endif %}>{{cell.1|safe}}</th>
        </tr>
        <tr>
          <th data-data='{{cell.0}}'><span {% if cell.2 %}data-placement="bottom" data-trigger="hover" data-html="true" data-content="{{cell.2|safe}}"{% endif %}>{{cell.1|safe}}</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.css"/>{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{% static 'data_editor/css/editor.dataTables.css' %}"/>{% endaddtoblock %}


{% addtoblock "js" %}<script>$(function(){$('[data-trigger="hover"]').popover()})</script>{% endaddtoblock %}

{% comment %} Datatables and Editor.js {% endcomment %}
{% addtoblock "js" %}<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'data_editor/js/dataTables.editor.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'thermoglobe/js/table.js' %}"></script>{% endaddtoblock %}

{% comment %} Excel like navigation {% endcomment %}
{% addtoblock "js" %}<script type="text/javascript" src="https://cdn.datatables.net/keytable/2.6.4/js/dataTables.keyTable.min.js"></script>{% endaddtoblock %}

{% comment %} Table Creation {% endcomment %}
{% comment %} {% addtoblock "js" %}<script>$('#{{table.label|slugify}}-table').create_table()</script>{% endaddtoblock %} {% endcomment %}

{% with table.label|slugify as id %}
{% addtoblock "js" %}
<script>
  $(document).ready(function () {
      editor = new $.fn.dataTable.Editor({
          ajax: "{{table.url}}editor/?format=datatables&{{filter_by}}",   
          table: '#{{id}}-table',
          idSrc: 'id',
          fields: [ {
                    label: "Site name:",
                    name: "site.site_name"
                }, {
                    label: "Lat:",
                    name: "site.latitude"
                }, {
                    label: "Lon:",
                    name: "site.longitude"
                }, {
                    label: "Depth:",
                    name: "depth"
                }, {
                    label: "Heat production:",
                    name: "heat_production"
                }, {
                    label: "Uncertainty:",
                    name: "uncertainty",
                }, {
                    label: "Method:",
                    name: "method"
                }
            ]
      });


    $('#{{id}}-table').DataTable( {
        columnDefs: [{targets: [0], render: $.fn.dataTable.render.href()}],

        keys: {
            columns: ':not(:first-child)',
            editor:  editor
        },

    });


    $('#{{id}}-table').on( 'click', 'tbody td:not(:first-child)', function (e) {
        editor.inline( this );
    } );

  });
</script>
{% endaddtoblock %}
{% endwith %}