{% load static sekizai_tags geojson_tags %}

<div id="{{label|slugify}}-container" class='tab-pane fade'>
  <div class='table-responsive'>
    <table id="{{label|slugify}}-table" class="table table-hover w-100" >
      <thead>
        <tr>
          <th colspan='3' class='border-0'></th>
          <th colspan='2' class='text-center border-0'>Depth</th>
          <th colspan='2' class='text-center border-0'>Heat Flow</th>
          <th colspan='2' class='text-center border-0'>Gradient</th>
        </tr>
        <tr>
          <th>Site</th>
          <th>Lat</th>
          <th class='border-right'>Lon</th>
          <th>Upper</th>
          <th class='border-right'>Lower</th>
          <th>Q</th>
          <th class='border-right'>&sigma;</th>
          <th>&Delta;C</th>
          <th class='border-right'>&sigma;</th>
          <th>TC</th>
          <th>HP</th>
          <th>T (n)</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.css"/>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'thermoglobe/js/table.js' %}"></script>{% endaddtoblock %}


{% addtoblock "js" %}<script>
$('#{{label|slugify}}-table').create_table({
  url: '/api/heat-flow/?{{filter_by}}',
  fields: [{'data':'site.site_name','render': $.fn.dataTable.render.href('/sites/',"site.id")},
  'site.latitude','site.longitude',
  'depth_min','depth_max',
  'heat_flow','heat_flow_uncertainty',
  'gradient','gradient',
  'average_conductivity',
  'heat_production',
  'number_of_temperatures'
  
  ]
  })
</script>
{% endaddtoblock %}