{% load static %}
{% load humanize %}
{% comment %} <div style="background-image: url('{% static 'main/images/heat_flow.svg' %}')" class='earth d-inline-block align-middle'></div> {% endcomment %}
<div style="background-image: url('{% static 'main/images/equi_600.webp' %}')" class='earth d-inline-block align-middle'></div>
<div class="d-inline-block align-middle">
    <div class='display-4'>ThermoGlobe</div>
    {% if updated %}
        <p class="card-text lead d-none d-lg-block">Last updated {{recently_added.0.date_added|naturaltime}}</p>
    {% endif %}
</div>