[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
django-grappelli = "*"
django-extensions = "*"
django-widget-tweaks = "*"
django-countries = "*"
django-recaptcha = "*"
django-import-export = "*"
django-filter = "*"
bibtexparser = "*"
gunicorn = "*"
psycopg2-binary = "*"
model-bakery = "*"
django-captcha = "*"
Django = "*"
Pillow = "*"
django-betterforms = "*"
django-ckeditor = "*"
tqdm = "*"

[requires]
python_version = "3.8"
