[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
django-extensions = "*"
django-widget-tweaks = "*"
django-countries = "*"
django-recaptcha = "*"
django-import-export = "*"
django-filter = "*"
bibtexparser = "*"
gunicorn = "*"
psycopg2-binary = "*"
model-bakery = "*"
django-captcha = "*"
Django = "*"
Pillow = "*"
django-ckeditor = "*"
tqdm = "*"
ipython = "*"
plotly = "*"
django-debug-toolbar = "*"
django-meta = "*"
django-sortedm2m = "*"
django-publications = "*"
django-sekizai = "*"
numpy = "*"
pandas = "*"
django-pandas = "*"
simplejson = "*"
scipy = "*"
matplotlib = "*"
django-simple-history = "*"
docutils = "*"
django-betterforms = "*"
django-betterforms-jpic = "*"
django-super-deduper = "*"
beautifulsoup4 = "*"
statsmodels = "*"
django-cleanup = "*"
django-geojson = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
