{% extends "sidebar/base.html" %}
{% load static %}

{% block menu %}
{{ block.super }}
<ul>
    <li><a href="{% url "main:home" %}">About</a></li>
    <li><a href="{% url "thermoglobe:world_map" %}">World Map</a></li>
    <li>
        <span class="opener">Explore</span>
        <ul>
            <li><a href="{% url "thermoglobe:heat_flow" %}">Heat Flow</a></li>
            <li><a href="{% url "thermoglobe:gradient" %}">Thermal Gradient</a></li>
        </ul>
    </li>
    <li>
      <span class="opener">Tables</span>
      <ul>
          <li><a href="{% url "mapping:describe" model='country'%}">Countries</a></li>
          <li><a href="{% url "mapping:describe" model='political'%}">Political Regions</a></li>
          <li><a href="{% url "mapping:describe" model='continent'%}">Continents</a></li>
          <li><a href="{% url "mapping:describe" model='sea'%}">Seas &amp; Oceans</a></li>
          <li><a href="{% url "mapping:describe" model='province'%}">Geologic Province</a></li>
          <li><a href="{% url "mapping:describe" model='basin'%}">Basins</a></li>
      </ul>
    </li>         
    <li><a href={% url "thermoglobe:publication_list" %}>Publications</a></li>
    <li><a href="{% url "main:field_descriptions" %}">Field Descriptions</a></li>
    <li><a href={% url "main:news" %}>News</a></li>
    <li><a href="{% url "main:faqs" %}">FAQ's</a></li>
    <li><a href="{% url "main:home" %}#how-to-cite">How to cite</a></li>
    <li><a href="{% url "main:home" %}#license">License</a></li>                      
    <li class="nav-item">
        <a class="nav-link" href="{% url "thermoglobe:upload" %}">Upload</a>
    </li>
</ul>

{% endblock menu %}

{% block content %}
  {{ block.super }}
  <section>
    <header class='major'>
      <h3>Contact</h3>
    </header>
    <div class="mini-posts">
      <article>
        <h5>For technical and site related issues</h5>
        <a href="https://www.adelaide.edu.au/directory/samuel.jennings">S. Jennings</a>
      </article>
      <article>
      <h5>For heat flow / data related enquiries</h5>
        <a href="https://www.adelaide.edu.au/directory/derrick.hasterok">D. Hasterok</a>
      </article>
    </div>
  </section>
{% endblock content %}