{% load static %}
<div id="sidebar" class="{{sidebar|default:'active'}}">
    <div class="inner">
      {% block top %}
      <section id="logo-banner" class='alt py-3'>
        <header>
          <a href="{% url "main:landing" %}">
            <div class='d-flex flex-row align-items-center'>
                <div><img src="{% static "main/images/logo_64.webp"%}" alt="logo"></div>
                <div><h2 class='ps-2 pb-0 mb-0'>HeatFlow.org</h2></div>
            </div>
          </a>
        </header>
      </section>
      {% endblock top %}
      {% block content %}
        <nav id="menu">
          {% block menu %}
            <header class='major'>
              <h3>Menu</h3>
            </header>
            <ul>
              {% show_menu 0 100 100 100 %}
            </ul>
          {% endblock menu %}
        </nav>
      {% endblock content %}
    </div>
</div>
