{% extends "sidebar/base.html" %}
{% load static %}

{% block menu %}
{{ block.super }}
<ul>
    <li><a href="{% url "main:home" %}">About</a></li>
    <li><a href="{% url "thermoglobe:world_map" %}">World Map</a></li>
    <li>
        <span class="opener">Explore</span>
        <ul>
            <li><a href="{% url "thermoglobe:heat_flow" %}">Heat Flow</a></li>
            <li><a href="{% url "thermoglobe:gradient" %}">Thermal Gradient</a></li>
        </ul>
    </li>      
    <li><a href={% url "thermoglobe:publication_list" %}>Publications</a></li>
    <li><a href="{% url "main:field_descriptions" %}">Field Descriptions</a></li>
    <li><a href={% url "main:news" %}>News</a></li>
    <li><a href="{% url "main:faqs" %}">FAQ's</a></li>
    <li><a href="{% url "main:home" %}#how-to-cite">How to cite</a></li>
    <li><a href="{% url "main:home" %}#license">License</a></li>                      
    <li class="nav-item">
        <a class="nav-link" href="{% url "thermoglobe:upload" %}">Upload</a>
    </li>
</ul>
{% endblock menu %}




