{% extends "sidebar/base.html" %}
{% load static %}

{% block top %}
  {% include 'components/quick-nav.html' %}
{% endblock top %}

{% block content %}
<header class='sidebar-title'>
  <div class='w-100 d-flex align-items-center py-0 my-0'>
    <div class='flex-grow-1'><h2 id='refLabel' class='py-1 my-0'></h2></div>
    <div>
        {% if publication.is_verified %}
          <i class="fas fa-check-circle text-success" data-toggle="tooltip" data-placement="bottom" title="This publication has been fully verified by the team at HeatFlow.org! You can be sure that the data represented here is faithful to the original publication. Users are still encouraged to make their own assessment on data quality by reviewing the original manuscript."></i>
        {% else %}
          <i class="fas fa-exclamation-triangle text-warning" data-toggle="tooltip" data-placement="bottom" title="This publication has not yet been verified by the team at HeatFlow.org. We make no guarantee that the data on this page accurately reflects that of the original source. Users are urged to make their own assessment of data quality and interpret with care."></i>
        {% endif %}
    </div>
  </div>
</header>
<div id='site-ID'>ID: {{object.id}}</div>

<section class='pt-1 pb-0 my-0 border-0'>
  <div class='row'>
    <div class='col-12 col-md-6'>
      <a id='article-doi' class="button small fit {% if not publication.doi %}disabled{% endif %}"><i class='fas fa-lg fa-globe'> Article</i></a>
    </div>
    <div class='col-12 col-md-6'>
      <button class="dropdown-toggle fit small" type="button" id="refDownload" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-lg fa-graduation-cap">Citation</i>
      </button>
      <div id='refDownload' class="dropdown-menu" aria-labelledby="refDownload">
          <a class="dropdown-item" value='bibtex'>.bib</a>
          <a class="dropdown-item" value='ris'>.ris</a>
          <a class="dropdown-item" value='bibliography'>.txt</a>
      </div>
    </div>
  </div>
</section>
<section id='publicationInfo'>
  {% comment %} <div class=''> {% endcomment %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {{publication.sites.pie|safe}}
  {% comment %} </div> {% endcomment %}
   
  <dl>
    <dt>Authors:</dt>
    <dd class='d-flex flex-column flex-wrap'>
      {% if object.authors %}
          {% for author in object.authors.all %}
              <div><a href="{% url 'thermoglobe:author_details' author.slug %}">{{author}}</a></div>
          {% endfor %}
      {% else %}
        Unknown
      {% endif %}
    </dd>

    {% comment %} <dt>Locations:</dt> {% endcomment %}

    {% comment %} {{publication.sites.all.pie_sea|safe}} {% endcomment %}
    {% comment %} <dt>Data Counts:</dt> {% endcomment %}
    {% comment %} {{publication.sites.all.pie_data_counts|safe}} {% endcomment %}

  </dl> 
</section>
{% endblock content %}


