{% extends "sidebar/base.html" %}
{% load static %}

{% block menu %}
{{ block.super }}
<ul>
  {% show_menu 0 100 100 100 %}
</ul>
{% endblock menu %}

{% comment %} {% block content %}
  {{ block.super }}
  <section>
    <header class='major'>
      <h3>Contact</h3>
    </header>
    <div class="mini-posts">
      <article>
        <h5>For technical and site related issues</h5>
        <a href="https://www.adelaide.edu.au/directory/samuel.jennings">S. Jennings</a>
      </article>
      <article>
      <h5>For heat flow / data related enquiries</h5>
        <a href="https://www.adelaide.edu.au/directory/derrick.hasterok">D. Hasterok</a>
      </article>
    </div>
  </section>
{% endblock content %} {% endcomment %}