{% comment %} <ul class="nav nav-pills" id='pills-tab' role="tablist">
  <li class="nav-item"><a id="#details-tab" data-bs-toggle="tab" href="#details-container" aria-controls="details-tab" class="nav-link button small active" aria-selected="true">Details</a></li>
  <li class="nav-item"><a class="dropdown-toggle button small" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data</a>
  <div class="dropdown-menu">
    {% include "thermoglobe/components/nav_item.html" with label='Heat Flow' list=object.intervals.all %}
    {% include "thermoglobe/components/nav_item.html" with label='Temperature' list=object.temperature.all %}
    {% include "thermoglobe/components/nav_item.html" with label='Thermal Conductivity' list=object.conductivity.all %}
    {% include "thermoglobe/components/nav_item.html" with label='Heat Production' list=object.heat_production.all %}
  </div>
  </li>
</ul> {% endcomment %}



<ul class="nav nav-pills" id='pills-tab' role="tablist">
  <li class="nav-item"><a id="#details-tab" data-bs-toggle="tab" href="#details-container" aria-controls="details-tab" class="nav-link button small active" aria-selected="true">Details</a></li>
  <li class="nav-item">{% include "thermoglobe/components/nav_item.html" with label='Heat Flow' list=object.intervals.all %}</li>
  <li class="nav-item">{% include "thermoglobe/components/nav_item.html" with label='Temperature' list=object.temperature.all %}</li>
  <li class="nav-item">{% include "thermoglobe/components/nav_item.html" with label='Thermal Conductivity' list=object.conductivity.all %}</li>
  <li class="nav-item">{% include "thermoglobe/components/nav_item.html" with label='Heat Production' list=object.heat_production.all %}</li>
</ul>