
<li class="nav-item {% if not table.object_list %}d-none d-md-block {% endif %}">
    <a id="{{table.label|slugify}}-tab"
    class="nav-link small position-relative {% if not table.object_list %}disabled {% endif %}" 
    data-bs-toggle="tab" 
    data-bs-target="#{{table.label|slugify}}-container" 
    href="#{{table.label|slugify}}-container" 
    aria-controls="{{table.label|slugify}}-tab">
    {{table.label|title}}
    {% if list %}<span class="badge bg-primary">{{table.object_list.count}}</span>{% endif %}
    </a>
</li>
