{% load static sekizai_tags geojson_tags %}
<div id="{{table.label|slugify}}-container" class='tab-pane fade'>
  <div class='table-responsive'>
    <table id="{{table.label|slugify}}-table" 
      class="table table-hover w-100"
      {% if user.is_owner %}
        data-ajax="{{table.url}}editor/?format=datatables&{{filter_by}}"          
      {% else %}
        data-ajax="{{table.url}}?format=datatables&{{filter_by}}"
      {% endif %}
      >
      <thead><tr>
      {% if table.preheader %}
        {% for cell in table.preheader %}
          <th colspan={{cell.0}}><span {% if cell.2 %}data-placement="right" data-trigger="hover" data-html="true" data-content="{{cell.2|safe}}"{% endif %}>{{cell.1|safe}}</th>
        {% endfor %}
        </tr>
      {% endif %}
      <tr>
      {% for cell in table.header %}
        <th data-data='{{cell.0}}'><span {% if cell.2 %}data-placement="bottom" data-trigger="hover" data-html="true" data-content="{{cell.2|safe}}"{% endif %}>{{cell.1|safe}}</th>
      {% endfor %}
      </tr></thead>
    </table>
  </div>
</div>

{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.css"/>{% endaddtoblock %}
{% addtoblock "js" %}<script>$(function(){$('[data-trigger="hover"]').popover()})</script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'thermoglobe/js/table.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script>$('#{{table.label|slugify}}-table').create_table()</script>{% endaddtoblock %}
