{% extends "mapping/basemap.html" %}
{% load static sekizai_tags geojson_tags %}

{% block sidebar%}
  {% include "publications/components/author_info.html" %}
{% endblock sidebar %}

{% block content %}
  {{ block.super }}
  <div class='inner'>
    {% comment %} <div class='text-center my-2'>
      <em><h3>Bibliography</h3></em>
    </div> {% endcomment %}
    <section class='pt-2'>
      {% include "publications/bib_table.html" %}
    </section>       
  </div>

  {% comment %} {% addtoblock "js" %}
    <script src='https://cdn.rawgit.com/larsgw/citation.js/archive/citation.js/citation-0.4.0-9.js'></script>
  {% endaddtoblock %} {% endcomment %}

  {% addtoblock "ready" %}
    add_to_map({{author.sites|geojsonfeature|safe}})
  {% endaddtoblock %}
{% endblock content %}





