{% load static sekizai_tags%}

{% block content %}
<div class='inner'>
  <section class='tight'>
    <div class='table-responsive'>
        <table id="{{table.id}}" class="table table-hover" >
            <thead>
                <tr>
                  {% for column in table.columns %}
                    {% if column == 'slug' %}
                      <th><i class="fas fa-binoculars fa-lg "></i></th>
                    {% elif column == 'doi' %}
                      <th><i class="fas fa-globe fa-lg "></i></th>
                    {% elif column != 'bibtex' %}
                      <th>{{column}}</th>               
                    {% endif %}
                  {% endfor %}
                </tr>
            </thead>
        </table>
    </div>
  </section>
</div>

{% addtoblock "css" %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.css"/>
{% endaddtoblock %}

{% addtoblock "js" %}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.js"></script>
  <script src='https://cdn.rawgit.com/larsgw/citation.js/archive/citation.js/citation-0.4.0-9.js'></script>   
  <script src="{% static 'tables/js/table.js' %}"></script>
{% endaddtoblock %}

{% addtoblock "ready" %}
  var table = table_from_bibtex({{table|safe}}, {{options}})
{% endaddtoblock %}

{% endblock content%}