<header class="main">
  <h3 class='m-0'>{{ publication.title }}</h3>
  <div><i>in {% firstof publication.journal publication.book_title %},	{{ publication.year }}</i></div>
	{% if publication.author %}<div>{{publication.authors_display_long}}</div>{% endif %}
</header>

{% if publication.abstract %}
  <p>{{ publication.abstract }}</p>
{% endif %}

{% if publication.keywords %}
	{% for keyword in publication.keywords.all %}
	  <a class="keyword" href="{% url 'publications:keyword' keyword %}">{{ keyword }}</a>
	{% endfor %}
{% endif %}

{% comment %} {% if publication.url %}<a class="link" rel="external" href="{{ publication.url }}">URL</a>,{% endif %} {% endcomment %}
{% comment %} {% if publication.doi %}<a class="link" rel="external" href="http://dx.doi.org/{{ publication.doi }}">DOI</a>,{% endif %} {% endcomment %}

{% comment %} <abbr class="unapi-id" title="{{ publication.id }}"></abbr> {% endcomment %}
{% comment %} <span class="Z3988" title="{{ publication.z3988 }}"></span> {% endcomment %}
