{% load sekizai_tags %}

{% comment %} DESKTOP {% endcomment %}
<div id='paginator' class="d-none align-bottom justify-content-center d-sm-flex">
  <ul class="links justify-content-end"> 
    {% for p in page.paginator.pages %}
        {% if p == page %}
          <li><a class="page active" href="?page={{ page.number }}">{{ page }}</a></li>
        {% else %}
          <li><a class="page border-none" href="?page={{ p.number }}">{{ p }}</a></li>
        {% endif %}
    {% endfor %}
  </ul>
</div>

{% comment %} MOBILE {% endcomment %}
<div class="dropdown d-sm-none p-5">
  <button class="primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Search By:
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for p in page.paginator.pages %}
      <a class="dropdown-item" href="?page={{ p.number }}">{{ p }}</a>
    {% endfor %}
  </div>
</div>