{% load publication_extras %}

<div class="card">
  <h5 class='card-header d-flex'><i>{% if publication.journal or publication.book_title %}{% firstof publication.journal publication.book_title %},{% endif %}	{{ publication.year }}</i>
		<div class="dropleft no-arrow ml-auto">
			<a id='dropdownMenuLink' class='fas fa-ellipsis-h ' href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
			<div class="dropdown-menu">
				<h6 class="dropdown-header">Citation</h6>
				<a class="dropdown-item" href="?plain">Plain Text</a>
				<a class="dropdown-item" href="?bibtex">Bibtex</a>
				<a class="dropdown-item" href="?ris">RIS</a>
			</div>
		</div>
	</h5>
  <div class="card-body">
    <h4 class="card-title">{{ publication.title }}</h4>
		{% if publication.author %}<h5 class="card-subtitle mb-2 text-muted">{{publication|author_display:3}}</h5>{% endif %}

		{% if publication.abstract %}
    	<p class="card-text">{{ publication.abstract|truncatewords:75 }}</p>
		{% endif %}
		<ul class="actions">
			<li><a href="{% url "publications:detail" pk=publication.pk %}" class="button primary icon solid fa-chart-bar">Data</a></li>
			<li><a href="https://doi.org/{{publication.doi}}" class="button icon solid fa-globe">Article</a></li>
		</ul>
  </div>
</div>
