{% extends "base.html" %}
{% block content %}
{{ block.super }}
<div class='inner map'>
  {% include "mapping/partials/map.html" with css_class='adaptive' %}
</div>

<div class='inner'>
  <header class='py-3'>
    <div class='d-flex'>
      <ul class="nav nav-tabs w-100" id='pills-tab' role="tablist">
      {% block navtabs %}{% endblock navtabs %}
      {% comment %} <div class='d-flex icons ms-auto my-auto'> {% endcomment %}
      <ul class='icons text-secondary ms-auto my-auto'>

        {% include "core/components/socials.html" %}
      </ul>
    {% comment %} </div> {% endcomment %}
      </ul>
    </div>
  </header>
  <section class='pt-0'>
    <div id="tabbedContent" class="tab-content container-fluid pt-3">
      {% block tabpanels %}{% endblock tabpanels %}
    </div>
  </section> 
</div>
{% endblock content %}
