{% extends "review/base.html" %}
{% load geoluminate static sekizai_tags i18n %}

{% block nav_title_bold %}{% trans "Reviewing" %}:{% endblock %}
{% block nav_title %}{{review.publication.title|truncatewords:5}}{% endblock nav_title %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
{% endblock head %}


{% block content %}
<div id="tabbedContent" class="tab-content fill">
  {% comment %} {% include "review/hx/reference.html" %} {% endcomment %}
</div>
{% endblock content %}
