{% load i18n crossref_tags sekizai_tags authentication %}

{% with pub.review as review %}
<div class="publication card">
  <div class='card-header d-flex w-100'>
    <span><i class="fas fa-map-marked-alt"></i>{{pub.sites.count|default:0 }}</span>
		<span><i class="fas fa-stream"></i>{{pub.intervals.count|default:0 }}</span>
		<span><i class="fas fa-table"></i></i>{{pub.intervals.count|default:0 }}</span>
		<span class='ms-auto'>
			{% if review.accepted %}
				<i class='text-success fas fa-check-circle' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Review completed by {{ review.reviewer }}"></i>
			{% elif review.nominated %}
				<i class='text-info fas fa-history' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Under review by {{ review.reviewer }}"></i>

			{% else %}
				<i class='text-warning fas fa-exclamation-triangle' data-bs-toggle="tooltip" data-bs-placement="bottom" title="This publication has not been reviewed."></i>
			{% endif %}


		</span>
	</div>
  <div class="card-body">
		<i class='me-auto'>{{pub.container_title}}, {{ pub.published|date:'Y' }}</i>
    <h4 class="card-title"><a href="{% url "literature:detail" pk=pub.pk %}">{{ pub.title }}</a></h4>
		{% if pub.author.exists %}
			<h5 class="card-subtitle mb-2 text-muted authors">
				{% for author in pub.author.all %}
						{{author.family}}, {{author.given.0 }}
				{% endfor %}
			</h5>
		{% endif %}
		{% if pub.abstract %}
    	<p class="card-text abstract">
				{{ pub.abstract|safe }}
			</p>
		{% endif %}
  </div>
	{% if not review %}
	<div class='card-footer bg-white d-flex'>
    {% if request.user|has_group:"Reviewer" %}
			{% comment %}
			Include modal asking to confirm that they want to review this publication
			{% endcomment %}
			<a href class='button ms-auto'
			hx-post={% url "review:nominate" pk=pub.pk%}
			hx-target="#main"

		>{% trans "Review" %}</a>


		{% elif request.user.is_authenticated %}
    	<a href class='button ms-auto'
				hx-get={% url "review:become_a_reviewer" %}
				hx-push-url={% url "review:become_a_reviewer" %}
				hx-target="#main"
			>{% trans "Review" %}</a>
    {% endif %}
    {% comment %} <a href class='button ms-auto'
			data-bs-toggle="modal"
			data-bs-target="#genericModal"
			hx-target="#modalDialog"
			hx-indicator="#modalIndicator"
			hx-swap='innerHTML'
    {% if request.user|has_group:"reviewer" %}
			hx-get="{% url 'geoluminate:get_form' 'request_to_review' %}"
		{% elif request.user.is_authenticated %}
			hx-get="{% url 'review:become_a_reviewer' %}"
    {% else %}
			hx-get="{% url 'user:get_form' 'login' %}"
    {% endif %}
    >{% trans "Review" %}</a> {% endcomment %}
	</div>
	{% endif %}

</div>
{% endwith %}
