{% extends "review/base.html" %}
{% load geoluminate static sekizai_tags i18n %}

{% block nav_title_bold %}{% trans "Reviewing" %}:{% endblock %}
{% block nav_title %}{{review.publication.title|truncatewords:5}}{% endblock nav_title %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
{% endblock head %}

{% block app_menu %}
<div class="btn-group flex-wrap">
{% for item in menus.review_app_menu %}{% if item.visible %}
  <a href="{{ item.url }}" class="menu-item-action btn btn-primary {% is_active item.url %}">
    <i class="fas {{ item.icon }} pe-2"></i>
    <span class='menu-item-title'>{{ item.title }}</span>
  </a>
{% endif %}{% endfor %}
</div>
{% comment %} <div class="btn-group flex-wrap" role="tablist">
  <button id="dataset-tab" class="nav-link btn btn-primary active" data-bs-toggle="tab" data-bs-target="#dataset-tab-pane" type="button" role="tab" aria-controls="dataset-tab-pane" aria-selected="true">
    <span>{% trans "Dataset" %}</span>
    <i class='fa fa-check-circle text-success'></i>
  </button> 
  <button id="references-tab" class="nav-link btn btn-primary" data-bs-toggle="tab" data-bs-target="#references-tab-pane" type="button" role="tab" aria-controls="references-tab-pane">
    <span>{% trans "References" %}</span>
    <i class='fa fa-check-circle text-success'></i>
  </button> 
  <button id="data-tab" class="btn btn-primary" data-bs-toggle="tab" data-bs-target="#data-tab-pane" type="button" role="tab" aria-controls="home-tab-pane">
    <span>{% trans "Data" %}</span>
    <i class='fa fa-check-circle text-success'></i>
  </button> 
  <button id="Map-tab" class="btn btn-primary" data-bs-toggle="tab" data-bs-target="#Map-tab-pane" type="button" role="tab" aria-controls="Map-tab-pane">
    <span>{% trans "Map" %}</span>
    <i class='fa fa-check-circle text-success'></i>
  </button> 
</div> {% endcomment %}

<div class='ms-auto p-1'>
  <button id="submit-tab" class="btn btn-sm btn-success" type="button">
    <span>{% trans "Review & Submit" %}</span>
  </button>
</div>
{% endblock app_menu %}


{% block content %}
<div class='w-100'>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="dataset-tab-pane" role="tabpanel" aria-labelledby="dataset-tab" tabindex="0">
      {% include "review/includes/dataset.html" %}
    </div>
    <div class="tab-pane fade" id="references-tab-pane" role="tabpanel" aria-labelledby="references-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="data-tab-pane" role="tabpanel" aria-labelledby="data-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="Map-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
      {% include "review/includes/map.html" %}
    </div>
  </div>
</div>
{% endblock content %}
