{% for item in menu %}
    {% if item.visible %}
        {% if not forloop.first %}
            <div class="vr mx-2"></div>
        {% endif %}

        <li class="{% if item.selected %} active{% endif %}{% if item.children %} dropdown{% endif %}">
            <a class="icon {{item.icon}} {{item.extra_css}} {% if item.children %}dropdown-toggle{% endif %}"
                href
                hx-get="{{ item.url }}"
                {% if forloop.first %}
                hx-trigger='load once'
                {% else %}
                hx-trigger='click'
                {% endif %}
                data-bs-toggle="tab"
                data-bs-target="#{{ item.title }}Content"
                type="button" role="tab"
                aria-controls="{{ item.title }}Content"
                aria-selected="{% if item.selected %}true{% else %}false{% endif %}">
                    <span>{{ item.title }}</span>
                    {% if item.title == 'Reference' and object.publication.source == 'Crossref' %}
                        <i class='fa fa-check-circle text-success'></i>
                    {% endif %}
            </a>

        </li>
    {% endif %}
{% endfor %}
