<div class='card-deck justify-content-center'>
  {% for contact in contacts %}

  <div class="card">
    <img src="{{ contact.image.url }}" class="card-img-top" alt="...">
    <div class="card-footer">
      <h5 class="card-title">
        {% if contact.title %}
            {{ contact.get_title_display }}
        {% endif %}
        {{ contact.first_name }} {{ contact.last_name }}
      </h5>
      <small>{{ contact.address2 }}, {{contact.state}} {{contact.country.name}}</small>
    </div>
  </div>

  {% endfor %}
</div>