<div class="card h-100 text-center my-2">
    {% if contact.image %}
    <img src="{{ contact.image.url }}" class="card-img-top" style='max-height:300px;' alt="...">
    {% else %}
    <img class="card-img-top" src="http://placehold.it/750x450" alt="">
    {% endif %}
    <div class="card-body">
    <h4 class="card-title">{{contact.full_name}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{contact.position}}</h6>
    <p class="card-text">{{contact.bio}}</p>
    </div>
    {% comment %} <div class="card-footer">
    <a href="mailto:{{contact.email}}">email</a>
    </div> {% endcomment %}
</div>