{% load static sekizai_tags %}
<div class='table-responsive'>
    <table id="dataTable" class="table table-hover table-striped responsive w-100" >
        <thead class="thead-dark">
        </thead>
    </table>
</div>

{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.css"/>
{% endaddtoblock %}

{% addtoblock "js" %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.js"></script>
    {% if "bibtex" in table_fields %}
        <script src='https://cdn.rawgit.com/larsgw/citation.js/archive/citation.js/citation-0.4.0-9.js'></script>
    {% endif %}
    <script src="{% static 'main/js/table.js' %}"></script>

    <script>
    {% comment %} var link_url = "{% url object_url %}" {% endcomment %}
    {% if table_link_url %}var table_link_url = "{{ table_link_url }}"{% endif %}
    {% if table_options %}var table_options = {{table_options|safe}}{% endif %}
    {% if dataset %}var dataset = {{dataset|safe}}{% endif %}
    {% if table_fields %}var table_fields = {{table_fields|safe}}{% endif %}
    
    

  $(document).ready(function(){

    {% if "bibtex" in table_fields %}
      var bibtex_headers = {{bibtex_headers|safe}}
      var table = table_from_bibtex(dataset,bibtex_headers)
    {% else %}

      var table = table_from_values_list(table_fields,dataset)
    {% endif %}
    {% if complex_headers %}
      add_complex_header({{complex_headers|safe}})
    {% endif %}
    });
  </script>
{% endaddtoblock %}