{% load static %}

<footer id='footer' class='footer'>
    {% comment %} <div class='d-flex flex-fill justify-content-around'>
        <div><img src="{% static 'main/images/mawson_geocenter.svg' %}" alt=""></div>
        <div><img src="{% static 'main/images/UofA.png' %}" alt=""></div>
        <div><img src="{% static 'main/images/IHFC_logo.svg' %}" alt=""></div>
    </div> {% endcomment %}
    {% comment %} <div class="footer-copyright text-center mt-2 pt-1">©{% now "Y" %} Copyright: S. Jennings &amp; D. Hasterok {% endcomment %}
    {% comment %} </div> {% endcomment %}
    <div class="copyright">
        &copy; {% now "Y" %} Copyright: S. Jennings &amp; D. Hasterok
    </div>

</footer>