{% load static %}

<footer class='footer container-fluid bg-secondary mt-auto'>
    <div class='d-flex flex-fill justify-content-around'>
        <div><img src="{% static 'main/images/mawson_geocenter.svg' %}" alt=""></div>
        <div><img src="{% static 'main/images/UofA.png' %}" alt=""></div>
        <div><img src="{% static 'main/images/IHFC_logo.svg' %}" alt=""></div>
        <div style="background-image: url('{% static 'main/images/heat_flow.svg' %}')" class='earth'></div>
    </div>
    <div class="footer-copyright text-center mt-2 pt-1">©{% now "Y" %} Copyright: S. Jennings &amp; D. Hasterok
    </div>
</footer>