{% load i18n %}
  <li class="nav-item">
    <a id="details-tab" data-bs-toggle="tab" href="#details-container" aria-controls="details-tab" class="small nav-link active" aria-selected="true">{% trans "About" %}</a>
  </li>
  {% for table in tables %}
    {% include "main/components/nav_item.html" %}
  {% endfor %}
  <li class="nav-item">
    <a id="discussion-tab" data-bs-toggle="tab" href="#discussion-container" aria-controls="discussion-tab" class="small nav-link" aria-selected="true">{% trans "Discussion" %}</a>
  </li>