{% extends "main/components/sidebar-alternate.html" %}
{% load static custom_tags %}

{% block content %}
    <header class='sidebar-title'>
        <h2 class='py-1'>{{ site.site_name }}</h2>
        <form class='grid-form text-left' action="" method='POST'>
            {% csrf_token %}
           <button type='submit' class="button fit small download"><i class='fas fa-lg fa-download'> Data</i></button>
        </form>
    </header>

    <section id='siteDetails'>
    {% for key, form in formset.forms.items %}
      {% if form.changed_data %}
        <div class='d-flex align-items-baseline'>
          <h5 class='text-left'>{{ key }}
          {% if form.help_text %}
            <small><i class="far fa-lg fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="{{form.help_text}}"></i></small></h5>
          {% endif %}
        </div>
          <table class='table table-sm text-left'>
            <tbody> 
            {% for field in form %}
              {% if field.value %}
                {{field|get_obj_attr|safe}}
              {% endif %}
            {% endfor %}
          </tbody>         
        </table>
      {% endif %}
    {% endfor %}
    </section>
{% endblock content %}

