<div class='table-responsive'>  
<table class="table table-hover table-striped text-center">
    <thead class='thead-dark'>
        <tr>
            <th>Row</th>
            <th>Errors</th>
            {% for field in result.diff_headers %}
            <th>{{ field }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in result.invalid_rows %}
    <tr>
        <td>{{ row.number }} </td>
        <td class="errors">
        <!-- Dropdown Trigger -->

        <div id='error' class="dropright">
            <button class="btn btn-danger" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ row.error_count }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for error in row.non_field_specific_errors %}
                    <p class='dropdown-item text-warning'>{{ error }}</p>
                {% endfor %}
                {% for field_name, error_list in row.field_specific_errors.items %}
                    {% for error in error_list %}
                        <p class='dropdown-item text-warning'>{{ field_name }}: {{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>


        {% comment %} <button type="button" class="btn btn-danger dropdown-trigger" data-target='dropdown1'>
            <span class="badge badge-light text-danger">{{ row.error_count }}</span>
        </button>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            {% for error in row.non_field_specific_errors %}
                <li class='text-warning'>{{ field_name }}: {{ error }}</li>
            {% endfor %}
            {% for field_name, error_list in row.field_specific_errors.items %}
                {% for error in error_list %}
                    <li class='text-warning'>{{ field_name }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul> {% endcomment %}
        </td>
        {% for field in row.values %}
        <td>{{ field }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>