{% load static %}
{% load widget_tweaks %}
 
  
<div id="filterPanel" class="map-panel shadow navbar-light text-center">
<div class='container'>
    {% include "mapping/panel_title.html" with title='Filter' icon="filter" %}
</div>
<form id='filter-form' action="" method='POST'>
    {% csrf_token %}
    {% for form in forms %}
    <!-- SUBMENU TITLE -->
    <a href="#{{ form.menu_title|slugify }}" data-toggle="collapse" aria-expanded="false" class="list-group-item flex-column align-items-start shadow-sm">
        <div class="justify-content-start">
        <span class="menu-collapsed">{{ form.menu_title|title }}</span>
        </div></a>
    <!-- SUBMENU INPUTS -->
    <div id="{{ form.menu_title|slugify }}" class="shadow-inset-sm collapse list-group-item p-1 submenu">
        {% for field in form.form %}
        {% if field.field.widget.input_type == 'checkbox' %}
            <div class='form-check-inline sub-menu-item text-center'>
            <div class="form-check form-check-inline">
                {% render_field field id=form.menu_title|slugify class='form-check-input' data-toggle="toggle" %}
                <label class="form-check-label" for="inlineCheckbox1">{{ field.label }}</label>
            </div>
        {% else %}
            <div class='input-group sub-menu-item'>
            <div class='input-group-prepend' data-toggle="tooltip" data-placement="top" title="{{ field.help_text }}" >
                <span class="input-group-text" id="">{{ field.label|title }}</span>
            </div> 
            {% render_field field|add_class:form.menu_title class="form-control"  %}
        {% endif %}                      
            </div>
        {% endfor %}
    </div>
    {% endfor %}

    <div class="sidebar-submenu">
    <button id='filter-clear-button' type='reset' class='btn btn-secondary m-3'>Reset Filters</button>  
    <button id='filter-submit-button' type='button' class='btn btn-primary m-3'>Apply</button>  
    </div>
</form>
</div>