{% extends "main/empty.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}ThermoGlobe{% endblock title %}

{% block head %}
  {% include 'mapping/components/head.html' %}
{% endblock head %}
 
{% block content %}

<div class='full-screen-map'>

  {% comment %} Sidebar Navigation {% endcomment %}
  <nav id="sideBar" class="sidenav navbar-light bg-light shadow-lg text-center">
    <ul class="navbar-nav">
      {% for panel in panel_order %}
        {% include "mapping/components/side_panel_item.html" with target=panel %}
      {% endfor %}
    </ul>
  </nav>

  {% comment %} Leaflet Map {% endcomment %}
  <div id='map' class='shadow-inset'></div>

  {% comment %} ----------------PANELS--------------- {% endcomment %}
  {% for panel in panel_order %}
    {% include "mapping/panels/"|add:panel|add:"_panel.html" %}
  {% endfor %}

</div>

{% endblock content %}

{% block scripts %}

  {% include 'mapping/components/map_scripts.html' %}

  <script>
 
    var map = initMap([-100,-360],[100,360],true).fitWorld()
    var filterURL = "{% url 'mapping:filter_data' %}"
    var siteMarkers = createMarkers({{ points|safe }})

    update_info_table({{ info.count|safe }},'#info-counts-table')
    update_info_table({{ info.average|safe }},'#info-average-table')


  </script>







{% endblock scripts %}

