{% extends "mapping/basemap.html" %}
{% load static %}
{% load widget_tweaks %}


{% block head %}
  {{ block.super }}
{% endblock head %}



{% block title %}ThermoGlobe
{% endblock title %}

{% block left-content %}
    <div class='card border-0'>
      <div class='card-head container display-4'>Filters<hr></div>
      <div class='card-body'>
        {% include "mapping/components/map_filter.html" %}
      </div>
      <div class='card-body'>
        <button type="button" id='download-button' form='filter-form' type='submit' class="btn btn-success btn-block btn-lg">DOWNLOAD</button>
      </div>
    </div>
{% endblock left-content %}

{% block under-map-content %}
<table id="geoTable" class="table table-hover table-striped w-100" >
  <thead class="thead-dark">
  </thead>
</table>
{% endblock under-map-content %}

{% block scripts %}
{{ block.super }}
<script>
  var data_url = "{% url 'mapping:data' %}";
  var link_url = '/thermoglobe/sites/';
  var table_options = {{ table_options|safe }}

  // In your Javascript (external .js resource or <script> tag)
  $(document).ready(function() {
      $('.select2').select2();

    $('.select2').on('select2:select', function (e) {
      $('.select2').not(this).each(function(){
          $(this).val(null).trigger('change');
      });
    });
  });

</script>
{% endblock scripts %}