{% load static sekizai_tags %}
<div id='map' style="height: 50vh">
  <div id='shadow' style='position:absolute'></div>
</div>

{% addtoblock "css" %}<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>{% endaddtoblock %}
{% addtoblock "css" %}<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% static "mapping/css/spin.css" %}">{% endaddtoblock %}

{% addtoblock "js" %}<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js'></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js" integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ==" crossorigin=""></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>{% endaddtoblock %}   
{% addtoblock "js" %}<script src="{% static 'mapping/js/spin.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'mapping/js/leaflet-spin.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'mapping/js/map.js' %}"></script>{% endaddtoblock %}














