{% extends "main/base.html" %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
  {% include 'mapping/components/head.html' %}
  <script type="text/javascript" src="{% static '/main/js/jquery.tablesorter.js' %}"></script>
{% endblock head %}

{% block fullwidth %}
  <div class='top-map' id='map'></div>
{% endblock fullwidth %}

{% block content %}
{% endblock content %}

{% block scripts %}

  {% include 'mapping/components/map_scripts.html' %}

  <script>

    var map = initMap([-90,-360],[90,360],false)
    var siteMarkers = createMarkers({{points|safe}})
    map.fitBounds(siteMarkers.getBounds())

  </script>

  {% block more-scripts %}
  {% endblock more-scripts %}

{% endblock scripts %}
