{% extends "main/base.html" %}
{% load materializecss %}

{% block head %}
<title>Upload | Heatflow.org</title>
{% endblock %}



{% block content %}
  <h4 align=center>Upload</h4>

  {% comment %} <div class="row">
    <div class="col s12 m10 l8 offset-l2">
      <p class="flow-text">
      Thanks for choosing to contribute to TETherD! To ensure a hassle free upload, please copy/paste your data into the <a href="/">excel template</a> provided and upload using the form below. For a list of column names, descriptions and acceptable values, please see <a href=''>here</a>. If you believe you have additional data that could benefit this database, but can't find an appropriate column in the template, please <a href='contact'>contact us</a> here.
      </p>
    </div>
  </div> {% endcomment %}

  

  <div class="row">
    <div class="col s12 m8 l6 offset-l3">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
              {{ form | materializecss}}
        </div>
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" name="dataFile">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Select a file to upload">
          </div>
        </div>
        <center>
          <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Upload
        </center>
      </form>
    </div>
  </div>
{% endblock %}
