{% extends "comments/base.html" %}
{% load i18n %}

{% block title %}{% trans "Flag this comment" %}{% endblock %}

{% block card %}
<div class='card w-50'>
  <h5 class='card-header'>{% trans "The following comment will be flagged for review" %}</h5>
  <div class='card-body'>
  <blockquote class='blockquote'>{{ comment }}</blockquote>
  <form action="." method="post" class='mb-0'>{% csrf_token %}
    {% if next %}
      <div><input type="hidden" name="next" value="{{ next }}" id="next"/></div>{% endif %}
      <input type="submit" name="submit" value="{% trans "Flag" %}"/> or <a
            href="{{ comment.get_absolute_url }}">cancel</a>
  </form>
</div>
{% endblock %}
