{% load comments %}

{% get_comment_list for object as comment_list %}
{% for comment in comment_list %}
<div class='card mb-3'> 
  <h5 class='card-header d-flex'><i>{{comment.submit_date}} - {{comment.user.get_username}}</i>
		<div class="dropleft no-arrow ms-auto">
			<a id='dropdownMenuLink' class='fas fa-ellipsis-h ' href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
			<div class="dropdown-menu">
				<h6 class="dropdown-header">Actions</h6>
        <a class="dropdown-item" href="/comments/flag/{{ comment.id }}/">Flag</a>
        {% if user == comment.user %}
          <a class="dropdown-item" href="/comments/delete/{{ comment.id }}/">Delete</a>
        {% endif %}
        {% comment %} <a class="dropdown-item" href="/flag/{{ comment.id }}">Flag comment</a> {% endcomment %}
        {% comment %} <a class="dropdown-item" href="/flag/{{ comment.id }}">Flag comment</a> {% endcomment %}
			</div>
		</div>
	</h5>
  <div class="card-body">
    {{comment.comment}}
  </div>
</div>


{% endfor %}
