.full-screen {

  position: fixed;
  top: 56px;
  bottom: 0;
  width:100%;

}

.main {

  /* position: absolute; */
  /* top:0; */
  right:0;
  left: 400px;
  /* height:100%; */

}

div.db-map {

  position: absolute;
  top: 0;
  right: 0;
  left: 400px;
  height: 100%;
  z-index:-1;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
 
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 400px; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  color: whitesmoke;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  display: block;
  transition: 0.3s;

}

/* .sidenav div {
  text-decoration: none;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
} */

#sidebar-title {
  background-color: #272b2e;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #808080;
  color: rgb(224, 224, 224);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.submenu {
  color: whitesmoke;
  padding: .25rem;
  font-size: 1rem;
}

.sub-menu-item {
  margin: auto;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

#site-menu {
  font-size: 2rem;
}

#submit-button {
  width: 100%;
  height: 100%;
}

.input-group>.input-group-prepend {
  flex: 0 0 35%;
}
.input-group .input-group-text {
  width: 100%;
}
  
.circle {
  width: 40px;
  height: 40px;
  background-color: greenyellow;
  text-align: center;
  font-size: 24px;
}


#open-btn {

  position: relative;
  top: 80px;
  left: 8px;
  z-index: 2;
}

#test {

  position:relative;
  width: 100%;

}