{% load widget_tweaks %}
{% load custom_tags %}

<!-- SUBMENU TITLE -->
<a href="#{{ filter.Meta.title|slugify }}" data-toggle="collapse" aria-expanded="false" class="list-group-item flex-column align-items-start shadow-sm">
    <div class="justify-content-start">
    <span class="menu-collapsed">{{ filter.Meta.title|title }}</span>
    </div></a>
<!-- SUBMENU INPUTS -->
<div id="{{ filter.Meta.title|slugify }}" class="shadow-inset-sm collapse list-group-item p-1 submenu">
    {% for field in filter %}
    {% if field|field_type == 'checkbox' %}
        <div class='form-check-inline sub-menu-item text-center'>
        <div class="form-check form-check-inline">
            {% render_field field id=filter.Meta.title|slugify class='form-check-input' data-toggle="toggle" %}
            <label class="form-check-label" for="inlineCheckbox1">{{ field.label }}</label>
        </div>
    {% else %}
        <div class='input-group sub-menu-item'>
        <div class='input-group-prepend' data-toggle="tooltip" data-placement="top" title="{{ field.help_text }}" >
            <span class="input-group-text" id="">{{ field.label|title }}</span>
        </div> 
        {% render_field field|add_class:filter.Meta.title class="form-control"  %}
    {% endif %}                      
        </div>
    {% endfor %}
</div>
