{% extends "geoluminate/layout/application.html" %}
{% load i18n static sekizai_tags %}

{% comment %} {% block title %}{{ geoluminate.database.short_name }} {% trans "Explorer" %}{% endblock title %} {% endcomment %}
{% block main %}
  <style>
    main.page {
      position: initial;
    }

    .sidebar {
      background-color: unset !important;
      background-image: none !important;
      border: none !important;
    }
  </style>
  <div id="whfd-mapping"
       class="w-100 h-100 whfd-mapping"
       data-schema-url="/api/v1/schema/"
       data-data-url="/api/v1/measurements/heat-flow/">
    <div id="shadow"></div>
  </div>
  {% addtoblock "css" %}
  <script defer src="{% static 'map/dist/js/chunk-vendors.038f9446.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "css" %}
  <script defer src="{% static 'map/dist/js/app.4079f5ad.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "css" %}
  <link href="{% static 'map/dist/css/chunk-vendors.5b557d9a.css' %}" rel="stylesheet" />
{% endaddtoblock %}
{% addtoblock "css" %}
<link href="{% static 'map/dist/css/app.1b1fca29.css' %}" rel="stylesheet" />
{% endaddtoblock %}
{% endblock main %}
