{% load static meta cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html lang="en">
<head {% meta_namespaces %}>
  {% comment %} <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GRFJCSHMVT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-GRFJCSHMVT');
  </script> {% endcomment %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  {% include 'meta/meta.html' %}
  {% block head %}{% endblock head %}  
  <link rel="icon" href="data:,">
  <link rel="shortcut icon" type="image/png" href="{% static "main/images/favicon.png" %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "editorial/css/main.css" %}">
  {% render_block "css"%}
</head>

<body class="is-preload">
  {% cms_toolbar %}
  <div id="wrapper">
    <div id="main">{% block content %}{% endblock content %}</div>
  </div>

  {% block modals %}{% endblock modals %}

  {% render_block "modals"%}


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/a08181010c.js"></script>

  {% comment %} USE THESE FOR DEVELOPMENT {% endcomment %}
  <script src="{% static "editorial/js/browser.min.js" %}"></script>
  <script src="{% static "editorial/js/breakpoints.min.js" %}"></script>
  <script src="{% static "editorial/js/util.js" %}"></script>
  <script src="{% static "editorial/js/main.js" %}"></script>
  {% render_block "js"%}

  {% block scripts %}
  {% endblock scripts %}

</body>

</html>

