{% extends "base.html" %}
{% load static widget_tweaks sekizai_tags crispy_forms_tags %}

{% block main %}
<div class="w-100 vh-100 bg-light d-flex">
  <div class='d-flex flex-column px-2 map-sidebar'>
    <ul class='alt '>
      <li><a class="icon fas filter" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"></a></li>
      <li><a class="icon solid download" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"></a></li>
      <li><a class="icon solid settings" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"></a></li>
    </ul>


  </div>

  <div class='flex-fill'>
    {% include "mapping/map.html" with vh='100vh' %}   
  </div>
</div>


  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filter</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      {% crispy filter.form filter.helper %}
    </div>
  </div>
 
{% endblock main %}
