{% load i18n %}
<section>
  {% if not user.projects %}
    <p>{% trans "Did you know that you can design your next heat flow project from within ThermoGlobe? Don't worry, your data remains private until you say so! Why not give it a go?" %}</p>
      
  <a href="" class='button fas fa-plus-square'>New Project</a>

  {% else %}
    {% for publication in user.publications.all %}
      {% include "publications/publication.html" %}          
    {% endfor %}
    <p>{% trans "Go to the " %}<a href="{% url 'publications:list' %}">{% trans 'publications page' %}</a>{% trans " to claim more data!" %}</p>
  {% endif %}
</section>  