{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block content %}
<div class='inner'>
	<header id="header">
		<a href="#" class="logo"><span class='fas fa-user-cog'></span><strong> User Settings </strong>{{user.display_name}}</a>
		<ul class="icons">
			<li><a href="{% url 'dashboard:dashboard' %}" class="icon brands"><span class="fas fa-tachometer-alt"></span></a></li>
		</ul>
	</header>

  <section>
    <h3>{% trans "Email" %}</h3>
    {% include "dashboard/settings/email.html" %}
  </section>
  <section>
    <h3>{% trans "Connected Accounts" %}</h3>
    {% include "dashboard/settings/connected_accounts.html" %}
  </section>
  <section>
    <h3>{% trans "Password" %}</h3>
    {% url 'account_change_password' as the_url %}
    <a class='button' href="{{the_url}}">{% trans 'Reset' %}</a>
  </section>
</div>
{% endblock content %}
