{% load static meta sekizai_tags %}
<!doctype html>
<html lang="en">
<head {% meta_namespaces %}>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GRFJCSHMVT"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-GRFJCSHMVT');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="icon" href="data:,">
  <link rel="shortcut icon" type="image/png" href="{% static "main/images/favicon.png" %}">
  {% include 'meta/meta.html' %}  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "main/css/main.css" %}">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  {% render_block "css"%}
</head>

<body class="is-preload">
  <div id="wrapper">
    <div id="main">
        {% block page %}{% include "components/page.html" %}{% endblock page %}
        {% block content %}{% endblock content %}
        {% block footer %}{% include 'components/footer.html' %}{% endblock footer %}        
    </div>
    {% block sidebar %}
        {% include "sidebar/standard.html" %}
    {% endblock sidebar %}
  </div>



  <script src="{% static "main/js/editorial/jquery.min.js" %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/a08181010c.js"></script>
  {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" /> {% endcomment %}



  {% comment %} FOR EDITORIAL TEMPLATE {% endcomment %}
  <script src="{% static "main/js/editorial/browser.min.js" %}"></script>
  <script src="{% static "main/js/editorial/breakpoints.min.js" %}"></script>
  <script src="{% static "main/js/editorial/util.js" %}"></script>
  <script src="{% static "main/js/editorial/main.js" %}"></script>
  <script src="{% static "main/js/custom.js" %}"></script>

  {% render_block "js"%}

  {% block scripts %}
  {% endblock scripts %}

</body>

</html>
