{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='container-fluid'>
    {% if result.has_errors %}
        <h1 class='text-center'>Error</h1>
        <p class='text-center'>
          An unknown error has occured while trying to validate your file. Please <a href='mailto:info@heatflow.org'>email us</a> and attach the relevant file and we will do our best to work out the problem and get your data uploaded. Thank you.
        </p>
      {% comment %} {% for row in result.rows %}
        {{ row.errors.0.traceback  }}
        <br><br>
      {% endfor %} {% endcomment %}


    {% elif result.has_validation_errors %}
      {% include 'components/upload_errors_table.html' %}
    {% else %}
      {% include 'components/upload_success_table.html' %}
    {% endif %}
</div>

{% endblock content %}
