{% extends "basemap.html" %}
{% load static sekizai_tags geojson_tags %}

{% block content %}
{{ block.super }}
<div class='inner'>   
  <div class='text-center my-2'>
    <em><h3>{{title}}</h3></em>
  </div>
  <section class='pt-0'>
    {% include "components/multi_table.html" %}
  </section>       
</div>

{% addtoblock "css" %}
{% endaddtoblock %}

{% addtoblock "js" %}
<script>
  map.spin(true)
  $.get({
    url:  $(location).attr('href'),
    success: function (data) {
      add_and_zoom(JSON.parse(data.data))
    },
    complete: map.spin(false),
    error: map.spin(false),
  })
</script>
{% comment %} <script>add_and_zoom({{object.sites.all|geojsonfeature|safe}})</script> {% endcomment %}
{% comment %} {% if sites %}<script>add_and_zoom({{sites}})</script>{% endif %} {% endcomment %}
{% if shape %}<script>add_shape({{shape}})</script>{% endif %}
{% endaddtoblock %}
{% endblock content %}





