{% extends "base.html" %}
{% load static custom_tags sekizai_tags %}




{% block content %}
{% addtoblock "css" %}
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
{% endaddtoblock %}


<div class='inner'>
  <section class='py-3 '>
    <header>
      <div class='d-flex justify-content-center my-2'>
        <ul class="nav nav-pills justify-content-center" role="tablist">
        {% for header in data_types.keys %}
            <li>
            {% if forloop.first %}
                <a class="button primary small" id="{{header}}-tab" data-toggle="tab" href="#{{header|slugify}}" role="tab" aria-controls="{{header}}" aria-selected="true">{{header|title|de_underscore}}</a>
            {% else %}
                <a class="button small" id="{{header}}-tab" data-toggle="tab" href="#{{header|slugify}}" role="tab" aria-controls="{{header}}" aria-selected="false">{{header|title|de_underscore}}</a> 
            {% endif %}
            </li>
        {% endfor %}
        </ul>
      </div>
    </header>
  </section>

  <section class='py-3 container'>
      <div id="tabbedContent" class="tab-content">
      {% for header, qs in data_types.items %}     
        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{header|slugify}}" role="tabpanel" aria-labelledby="{{header|slugify}}-tab">
          <dl class='field-descriptions'>
          {% for field in qs %}
              <div class='d-flex flex-row align-items-center'>
                <div><dt>{{field.field_name}}</dt></div>
                {% if field.units %}
                  <div class='px-2'>({{field.units}})</div>
                {% endif %}
                <div class='px-3'><em>{{field.verbose_field_name}}</em></div>
                {% if field.required %}
                  <div class='ml-auto'><i class="fas fa-exclamation-circle" data-toggle="tooltip" data-placement="left" title="This is a required field for uploading data. Uploads will fail if this is not a valid value."></i></div>
                {% elif field.download_only %}
                  <div class='ml-auto'><span data-toggle="tooltip" data-placement="left" title="This field is calculated internally after upload and does not accept user submitted values.">download only</span></div>
                {% endif %}
              </div>
              <dd>
                {{field.description|safe}}              
              </dd>                      
          {% endfor %}
          </dl>
        </div>
      {% endfor %}
      </div>
  </section>

</div>
{% endblock content %}


