{% extends "base.html" %}
{% load static sekizai_tags %}
{% block head %}
  <style>
      @keyframes pulse {
          0% {transform: scale(1, 1);}
          2% {transform: scale(1.5, 1.5);}
          4% {transform: scale(1, 1);}
          6% {transform: scale(1.5, 1.5);}
          8% {transform: scale(1, 1);}
      }
    .toggle {
      animation: pulse .25s linear infinite;
      animation-duration: 8s;
      animation-delay: 3s;
      animation-iteration-count: 1;
    }

    body {
      overflow: hidden;
    }

  </style>
{% endblock head %}
{% block page %}{% endblock page %}
{% block content %}

<div class='landing d-flex flex-column justify-content-end'>

  <div class='d-flex flex-grow-1 justify-content-center align-items-center'>
    <div class="pt-5">
      <div class='d-flex justify-content-center align-items-center' field="{{p}}" type="{{plot.type}}">
        <span>
          <div style="background-image: url('{% static 'main/images/equi_1920.webp' %}')" class='earth spin slow'></div>
        </span>
      </div> 
      <header class='pt-3'>
          <h1>{{page.heading}}</h1>
          <p>{{page.sub_heading}}</p>
      </header>
    </div>
  </div>
  {% include 'components/footer.html' %}

</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
{% block sidebar %}
    {% include "sidebar/basic.html" %}
{% endblock sidebar %}
