{% extends "base.html" %}
{% load static widget_tweaks sekizai_tags%}

{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
  <script src='https://cdn.rawgit.com/larsgw/citation.js/archive/citation.js/citation-0.4.0-9.js'></script>
{% endblock head %}

{% block content %}
{% if upload_success %}
  <div class="w-100 text-center alert alert-success fade show" role="alert">
     <strong>Thanks for uploading! </strong> Your data has been submitted for review and we'll get to it as soon as possible. Why not upload more?
  </div>
{% endif %}

<div class='inner'>
  <section>
    {% if page.content %}{{page.content|safe}}{% endif %}
    {% block inner %}
    <div class='container w-75'>
      <div class="d-flex flex-row-reverse justify-content-around">
        <div class='ml-4'>
          <h5>Select a template</h5>
          {% for template in templates %}
            <div><a href="{% url 'thermoglobe:template' template %}" class='border-0'>{{template}}.csv</a></div>
          {% endfor %}
        </div>
        <div>
          {% include 'forms/upload.html' %}
        </div>
      </div>
    </div>
    {% endblock inner %}
  </section>
</div>

<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="earthSpinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bg-transparent" role="document">
    <div class="modal-content d-block text-center justify-content-center">
      <div style="background-image: url('{% static 'main/images/heat_flow.svg' %}')" class='earth d-inline-block align-middle spin'></div>
      <h5 class="display-5 text-white">Uploading data</h5>
    </div>
  </div>
</div>

{% endblock content %}


{% addtoblock "js" %}

<script>
  $(document).ready(function () {

    $('.custom-file-input').on('change',function(){
      var fileName = $(this).val();
      var cleanFileName = fileName.replace('C:\\fakepath\\', "");
      $(this).next('.custom-file-label').html(cleanFileName);
    })

  {% comment %} {% if table %}
    var dataSet = {{ table|safe}}
    var table_options = {{ table_options|safe }}
    table_from_values_list(dataSet)
  {% endif %} {% endcomment %}

  })
</script>
{% endaddtoblock %}
