{% load custom_tags %}
{% load static %}

<div class="card border-0 text-left">
  <div class="card-header bg-white">
    <div class='d-flex justify-content-end align-items-center'>
      <div class="referenceCardTitle h5 text-muted flex-grow-1 bd-highlight">
      {{author.last_name}}, {{author.first_name}}
      </div>
      <div class='flex-item px-2'>
        <button type="button" class="export_bibtex btn btn-secondary" title='Export citation'>
          Cite all
        </button>
        <button type="button" class="export_bibtex btn btn-success" title='Download all'>
          Download all
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class='table table-borderless table-sm'>
      <tbody class='referenceDetails'>
      <tr>
        <td>Years active:</td>
        <td>
          {% with author.years_active as years  %}
            {{years.start}} - {{years.finish}} ({{years.total}} years)
          {% endwith %}
        </td>
      </tr>
      <tr>
        <td>
          Publications:        
        </td>
        <td>
        {{author.get_publications|length}}
        </td>
      </tr>
      <tr>
        <td class='pl-4'>
          as primary author:        
        </td>
        <td>
        {{author.as_first_author.all|length}}
        </td>
      </tr>
      <tr>
        <td class='pl-4'>
          as co-author:        
        </td>
        <td>
        {{author.as_coauthor.all|length}}
        </td>
      </tr>
      </tbody>
    </table>

    {% for key,fig in figures.items %}
      {% include "main/components/figure.html" with figure=fig fig_num=forloop.counter %}
    {% endfor %}

  </div>
</div>
