{% extends "main/components/sidebar-alternate.html" %}
{% comment %} {% load static %} {% endcomment %}

{% block content %}
    {% comment %} <header class='sidebar-title'>
        <h2 class='py-1'>{{ site.site_name }}</h2>
        <form class='grid-form text-left' action="" method='POST'>
            {% csrf_token %}
           <button type='submit' class="button fit small"><i class='fas fa-lg fa-download'> Data</i></button>
        </form>
    </header> {% endcomment %}

<header class='sidebar-title'>
    <h2 id='refLabel' class='py-1'>{{author.first_name}} {{author.last_name}}</h2>
    <form class='grid-form text-left' action="" method='POST'>
        {% csrf_token %}
        <button type='submit' class="button fit small download"><i class='fas fa-lg fa-download'> Data</i></button>
    </form>
</header>

<section id='publicationInfo'>
  <dl>
    <dt>Years active:</dt>
    <dd class='d-flex flex-column flex-wrap'>
      {% with author.years_active as years  %}
        {{years.start}} - {{years.finish}} ({{years.total}} years)
      {% endwith %}
    </dd>
    <dt>Publications:</dt>
    <dd class='d-flex flex-column flex-wrap'>
      First author: {{author.as_first_author}} <br>
      Co-author: {{author.as_co_author}}
    </dd>


    <dt>Related Authors:</dt>
    <dd class='d-flex flex-column flex-wrap'>
      {% for related_author, count in author.related_authors %}
          <div><a href="{% url 'publications:author_details' related_author.slug %}">{{related_author}}</a></div>
      {% endfor %}
    </dd>

    <dt>Sites:</dt>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {{author.sites.pie_country|safe}}   
    {{author.sites.pie_sea|safe}}
    <dt>Data Counts:</dt>
    {{author.sites.pie_data_counts|safe}}

  </dl> 
</section>
{% comment %} <section>

</section> {% endcomment %}

{% endblock content %}



