{% extends "main/components/sidebar-alternate.html" %}
{% load static %}

{% block content %}
<header class='sidebar-title'>
    <h2 id='refLabel' class='py-1'>&nbsp; 
    {% if publication.is_verified %}
      <i class="fas fa-check-circle text-success" data-toggle="tooltip" data-placement="bottom" title="This publication has been fully verified by the team at HeatFlow.org! You can be sure that the data represented here is faithful to the original publication. Users are still encouraged to make their own assessment on data quality by reviewing the original manuscript."></i>
    {% else %}
      <i class="fas fa-exclamation-triangle text-warning" data-toggle="tooltip" data-placement="bottom" title="This publication has not yet been verified by the team at HeatFlow.org. We make no guarantee that the data on this page accurately reflects that of the original source. Users are urged to make their own assessment of data quality and interpret with care."></i>
    {% endif %}
    </h2>
    <form class='grid-form' action="" method='POST'>
        {% csrf_token %}
        <button type='submit' class="button download fit small"><i class='fas fa-lg fa-download'> Data</i></button>
    </form>
</header>
<section class='py-3'>
  <ul class="actions fit">
    <li><a id='article-doi' href="#" class="button small fit {% if not publication.doi %}disabled{% endif %}"><i class='fas fa-lg fa-globe'> Article</i></a></li>
    <li>
      <button class="dropdown-toggle fit small" type="button" id="refDownload" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-lg fa-graduation-cap">Citation</i>
      </button>
      <div id='refDownload' class="dropdown-menu" aria-labelledby="refDownload">
          <a class="dropdown-item" value='bibtex'>.bib</a>
          <a class="dropdown-item" value='ris'>.ris</a>
          <a class="dropdown-item" value='bibliography'>.txt</a>
      </div>
    </li>
  </ul>    
</section>
<div class='bg-warning d-none card-header border border-dark rounded'>
  This reference requires improvement. Contact us here to submit an update.
</div>
<section id='publicationInfo'>
  <dl>
    <dt>Authors:</dt>
    <dd class='d-flex flex-column flex-wrap'>
      {% if object.authors %}
          {% for author in object.authors.all %}
              <div><a href="{% url 'publications:author_details' author.slug %}">{{author}}</a></div>
          {% endfor %}
      {% else %}
        Unknown
      {% endif %}
    </dd>

    <dt>Sites:</dt>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {{publication.sites.all.pie_country|safe}}   
    {{publication.sites.all.pie_sea|safe}}
    <dt>Data Counts:</dt>
    {{publication.sites.all.pie_data_counts|safe}}

  </dl> 
</section>

{% endblock content %}


