<!doctype html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "main/css/main.css" %}">
  <title>{% block title %}{% endblock title %} | Heatflow.org</title>

  {% block head %}
  {% endblock head%}

</head>

<body class='bg-light'>

  <header>
    {% include "main/navbar.html" %}
  </header>
  {% block fullwidth %}{% endblock fullwidth %}

  <div class='row justify-content-center'>

    {% comment %} <div id='site-left' class='col-2'>
      {% block left-side-content %}{% endblock left-side-content %}
    </div> {% endcomment %}

    <div id='site-center' class='col-sm-12 col-lg-10 col-xl-8'>
      {% comment %} <div class='container-fluid bg-light'> {% endcomment %}
        <div class="container pb-5 bg-white">
          <div class='text-center page-heading'>
            <h1 class='display-3 d-inline-block align-middle'>
            {% comment %} <div class='d-inline-block'> {% endcomment %}
              {% block heading %}{% endblock heading %}
              <div class='dropdown-divider'></div>
            </h1>
            {% block sub_heading %}{% endblock sub_heading %}
          </div>
          {% block content %}{% endblock content %}
        </div>
      {% comment %} </div> {% endcomment %}
    </div>

    {% block right-side-content %}{% endblock right-side-content %}
  
  </div>

  {% block footer %}
    {% include "main/components/footer.html" %} 
  {% endblock footer %}



  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
  <script src="https://kit.fontawesome.com/a08181010c.js"></script>

  {% block scripts %}
  {% endblock scripts %}

</body>