{% extends "main/base.html" %}
{% load static %}
{% load custom_tags %}


{% block head %}
  <title>Confirm upload | Heatflow.org</title>
  <script src="{% static 'database/js/dropdown.js' %}" type="text/javascript"></script>
{% endblock %}



{% block content %}
<div class="container h-100" id='list-container'>
 <br>
  {% if result %}
    {% if result.has_errors %}
        <h1 class='text-center'>Error</h1>
        <p class='text-center'>
          An unknown error has occured while trying to validate your file. Please <a href='mailto:info@heatflow.org'>email us</a> and attach the relevant file and we will do our best to work out the problem and get your data uploaded. Thank you.
        </p>
      {% comment %} {% for row in result.rows %}
        {{ row.errors.0.traceback  }}
        <br><br>
      {% endfor %} {% endcomment %}


    {% elif result.has_validation_errors %}

      <h1 class='text-center'>Warning: Incorrect data types found during the import!</h1>
      <br>
      <p class='text-center'>Please correct the following errors in your spreadsheet and try again.</p>
      </center>
      <table class="table table-hover table-striped text-center">
        <thead>
          <tr>
            <th>Row</th>
            <th>Errors</th>
            {% for field in result.diff_headers %}
              <th>{{ field }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for row in result.invalid_rows %}
          <tr>
            <td>{{ row.number }} </td>
            <td class="errors">
              <!-- Dropdown Trigger -->
             <a class='dropdown-trigger btn red' href='#' data-target='dropdown1'><b>{{ row.error_count }}</b></a>

             <!-- Dropdown Structure -->
             <ul id='dropdown1' class='dropdown-content'>
               {% for field_name, error_list in row.field_specific_errors.items %}
                  {% for error in error_list %}
                  <li><b><em>{{ field_name }}: </em></b>{{ error }}</li>

                  {% endfor %}
                {% endfor %}
             </ul>
            </td>
            {% for field in row.values %}
              <td>{{ field }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>

    {% else %}
        <h1 class='text-center'>Success!</h1>
        <p class='text-center'>
          It looks like your data has found a place in ThermoGlobe! Please confirm your submission below. Please note that your data may not appear in the ThermoGlobe database for a number of weeks. Each upload is subject to review by our team of editors and, contrary to popular belief, we all have lives outside of maintaining this database. If you still can't find your data in ThermoGlobe after an appropriate length of time, please <a href='mailto:info@heatflow.org'>email us</a> and we will endeavour to find out what has happened. Thanks for contributing!
        </p>
      <table class="table table-responsive table-hover table-striped text-center">
        <thead>
          <tr>
            {% for field in result.diff_headers %}
              <th>{{ field }}</th>
            {% endfor %}
          </tr>
        </thead>
        {% for row in result.valid_rows %}
          <tr>
            {% comment %} <td class="import-type">
              {% if row.import_type == 'new' %}
                New
              {% elif row.import_type == 'skip' %}
                Skipped
              {% elif row.import_type == 'delete' %}
                Delete
              {% elif row.import_type == 'update' %}
                Update
              {% endif %}
            </td> {% endcomment %}
            {% for field in row.diff %}
              <td>{{ field }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>

    {% endif %}
  {% endif %}
</div>
{% endblock %}
