


<div class="card shadow col-sm-12 col-md-3 col-lg-2 mx-2" >
    <img class="card-img-top" src="{{ contact.image.url }}" alt="Card image cap">
    <div class="card-body p-0">
    <b class="card-title">
        {% if contact.title == 'DR' %}
            {{ contact.get_title_display }}
        {% endif %}
        {{ contact.first_name }} {{ contact.last_name }}
    </b>
    <small>{{ contact.address2 }}</small>
    </div>
</div>




{% comment %} <div class="card shadow flex-item mx-2" >
    <img class="card-img-top" src="{{ contact.image.url }}" alt="Card image cap">
    <div class="card-body">
    <b class="card-title">
        {% if contact.title == 'DR' %}
            {{ contact.get_title_display }}
        {% endif %}
        {{ contact.first_name }} {{ contact.last_name }}
    </b>
    <small>{{ contact.address2 }}</small>

    <p class="card-text">{{contact.bio}}</p>
    <a href="#" class="btn btn-primary">Read more</a>
    </div>
</div> {% endcomment %}