{% extends "main/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block title %}Contact{% endblock title%}
{% block heading %}Contact Us{% endblock heading %}

{% block head %}
<link rel="stylesheet" href="{% static "main/css/contact.css" %}">
{% endblock head %}

{% block content %}
<div id='contact-page' class='container-fluid'>
<div class='container mb-3 d-none d-lg-block '>
  {% if contacts %}
      {% include "main/components/contact-card.html" %}
  {% endif %}
  </div>
  <div class='row justify-content-center'>
    {% include "main/components/form.html" %}
  </div>
</div>
{% endblock content %}

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

{% block scripts %}
{% endblock scripts %}