{% extends "main/base.html" %}
{% load static custom_tags %}

{% block content %}
<div class='inner'>
  <header class='major'>
    <div class='d-flex justify-content-center py-2'>
      <ul class="nav nav-pills justify-content-center" role="tablist">
      {% for header in forms.keys %}
          <li>
          {% if forloop.first %}
              <a class="button primary small" id="{{header}}-tab" data-toggle="tab" href="#{{header}}" role="tab" aria-controls="{{header}}" aria-selected="true">{{header|title|de_underscore}}</a>
          {% else %}
              <a class="button small" id="{{header}}-tab" data-toggle="tab" href="#{{header}}" role="tab" aria-controls="{{header}}" aria-selected="false">{{header|title|de_underscore}}</a> 
          {% endif %}
          </li>
      {% endfor %}
      </ul>
    </div>
  </header>

  <div class='container'>
      <div id="tabbedContent" class="tab-content">
      {% for header, form in forms.items %}     
        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{header}}" role="tabpanel" aria-labelledby="{{header}}-tab">
          <dl>
              {% for field in form %}
                {% with field.name as name %}
                    <dt>
                        {{ name }}
                        {% with name|units as units %}
                        {% if units %}
                            [{{ units }}]
                        {% endif %}
                        {% endwith %}
                    </dt>
                {% endwith %}
                <dd>
                  <p>{{ field.help_text|safe }}</p>
                  {% if field.field.choices and not field.field.to_field_name%}
                    <p>Options:</p>
                    <ul>
                        {% for _, choice in field.field.choices %}
                            {% if not forloop.first %}
                                <li>{{choice|title}}</li>            
                            {% endif %}
                        {% endfor %}
                    </ul>
                  {% endif %}
                </dd>
              {% endfor %}
          </dl>
        </div>
      {% endfor %}
      </div>
  </div>
</div>


{% endblock content %}


