{% extends "main/base.html" %}
{% load static humanize sekizai_tags%}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class='inner'>
    <section>
        <header class="major text-center">
            {% comment %} <h2>{{content.0|safe}}</h2> {% endcomment %}
            <h2>Explore ThermoGlobe</h2>
        </header>
        <div class="features justify-content">
            {% for title, content in cards.items %}
            <article>
                {% comment %} <span class="icon fa">{{content.icon}}</span> {% endcomment %}
                <span class="icon fa">{{title|title}}</span>
                <div class="article">
                      
                    <p>{{content.content|truncatewords_html:7}}<a href="{% url content.link %}" >learn more</a></p>
                    <ul class='text-small separated'>
                        {% for t, val in content.counts.items %}
                          <li class='d-inline'>{{val}} {{t}}</li>                    
                        {% endfor %}
                    </ul>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>

    <section class='banner d-flex'>
        <div class="content">
            {{content.1|safe}}
            <ul class="actions">
                <li><a href="#" class="button big">Learn More</a></li>
            </ul>
        </div>
        <span class="image object">
            <img src="{% static 'main/images/thermoglobe_map.webp' %}" alt="" style='height:500px;'>
        </span>
    </section>


  <section class='plot-banner' data-appear-top-offset="600">
        {{content.2|safe}}
        <div class="row">
            <div class="col-md-4 col-12">
                <h5>By continent</h5>
                <span class='plot' data='gradient' type='plot_pie_continent'></span>
            </div>
            <div class="col-md-4 col-12">
                <h5>By political region</h5>
                <span class='plot' data='gradient' type='plot_pie_country'></span>
            </div>
            <div class="col-md-4 col-12">
                <h5>By sea</h5>
                <span class='plot' data='gradient' type='plot_pie_seas'></span>
            </div>
        </div>
  </section>




    {% comment %} <section id="four" class="wrapper special">
    <div class="inner narrow">
        <header>
        <h2>Contact Us</h2>
        </header>
        <form class="grid-form" method="post" action="#">
        <div class="form-control narrow">
            <label for="name">Name</label>
            <input name="name" id="name" type="text">
        </div>
        <div class="form-control narrow">
            <label for="email">Email</label>
            <input name="email" id="email" type="email">
        </div>
        <div class="form-control">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="4"></textarea>
        </div>
        <ul class="actions">
            <li><input value="Send Message" type="submit"></li>
        </ul>
        </form>
    </div>
    </section> {% endcomment %}
</div>

{% addtoblock "js" %}

  <script>
    var plot_url = "{% url 'thermoglobe:plots' %}";
  </script> 


  <script src="{% static "main/js/appear.js" %}"></script>
  <script src="{% static "main/js/plots.js" %}"></script>

{% endaddtoblock %}


{% endblock content %}
