{% extends "main/base.html" %}
{% load static %}
{% load humanize %}

{% block head %}
  <link rel="stylesheet" href="{% static "main/css/home.css" %}">
{% endblock head %}

{% block content %}
  {% if page %}
  <div class="jumbotron rounded-0">
    <div class='container rounded'>
      <h1 class="display-4">{{ page.heading}}</h1>
      {% if page.sub_heading %}
      <p class="lead">{{ page.sub_heading}}</p>
      {% endif %}
      <hr class="my-4">
      {% if page.content %}
          {{ page.content|safe }}
      {% endif %}
    </div>
  </div>
  {% endif %}

  <div class="row pb-5">
    <div class='container'>
      <div class="row">
        <div class="col-lg-6">
          <h2>Explore ThermoGlobe</h2>
          {% comment %} <p class='lead'>A global thermal database</p> {% endcomment %}
          <p class="card-text">Last updated {{recently_added.0.date_added|naturaltime}}</p>
          <hr>
          <p>Featuring:</p>
          <ul>
            {% for key, count in counts.items %}
            <li>
              {{ count|intcomma }} {{key}}
            </li>
            {% endfor %}
          </ul>
          <p>ThermoGlobe is a global database containing thermally related properties</p>
          <a href="{% url "thermoglobe:about" %}">Learn more</a>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="{% static 'main/images/world_map.jpg' %}" style='max-height:450px;' alt="">
          <a href="{% url "mapping:thermoglobe" %}" class='stretched-link'></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-secondary py-5">
    <div class='container'>
      <div class="row">
        {% for card in cards %}
          <div class="col-lg-4 mb-4">
            <div class="card h-100">
              <h4 class="card-header">{{card.0|title}}</h4>
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
              </div>
              <div class="card-footer">
                <a href="{% url card.1 %}" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row py-5">
    <div class='container'>
      <div class="row">
        <p>Citing this website and database:</p>
        <p>Jennings, S, Hasterok,  D, and Lucazeau, F 2020 </p>
      </div>
    </div>
  </div>


{% endblock content %}

{% comment %} {% block right-side-content %}
  <div id='site-right' class='col-3'>

    <div class='shadow p-3'>
      
      <div class='fixed-in-container'>

      <h3 class='text-center'>Recently Added</h3>  

      {% for reference in recently_added %}
      <a href="{% url 'thermoglobe:reference_details' pk=reference.id %}">
        <div class="card recent-refs">
          <div class="card-header">
            <div class="card-title">{{reference.first_author.last_name}} ({{reference.year}}) - <small>{{reference.date_added|date:"M j, Y"}}</small></div>
          </div>
        </div>
      </a>  
      {% endfor %}
    
    
    </div>


  </div>  
  </div>
{% endblock right-side-content %} {% endcomment %}

