{% extends "main/base.html" %}

{% block head %}
{% endblock head %}

{% block content %}
  <div class="container" id='list-container'>
    <br>
    <div class='row text-center'>
      <div class='col'>
      {% block list_header %}{% endblock list_header %}
      </div>    
    </div>
    <br>
    <div class='row align-items-bottom'>
      <div class='col-3'></div>
      <div class='col-6'>
        {% block filter %}{% endblock filter %}     
      </div>
      <div class="col-3">
        {% if filter.qs|length > 0 %}
          {% include "main/paginator.html" %}    
        {% endif %}
      </div>

    </div>

  {% block list %}
  {% endblock list%}
  
  {% if filter.qs|length > 0 %}
    {% include "main/paginator.html" %}    
  {% endif %}  
  </div>

{% endblock content %}



{% block scripts %}
{% endblock scripts %}