{% extends "mapping/basemap.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}{{ site.site_name }}{% endblock title%}
{% block left-content %}{% include "main/components/site_details_card.html" %}{% endblock left-content %}
{% block under-map-content %}
<div class='d-flex justify-content-center'>
  <div id='tableNav' class="btn-group" role="group" aria-label="Basic example">
      {% for key, list in tables.items %}
        {% if list %}
          <button id="{{key}}" type="button" class="btn btn-secondary">{{key|title|de_underscore}}</button>
        {% else %}
          <button id="{{key}}" type="button" class="btn btn-secondary" disabled>{{key|title|de_underscore}}</button>
        {% endif %}
      {% endfor %}
  </div>
</div>

<table id="dataTable" class="table table-hover table-striped w-100" >
  <thead class="thead-dark">
  </thead>
</table>


{% endblock under-map-content %}

{% block scripts %}
{{ block.super }}

<script>
  var slug = "{{ object.slug }}"
  var data_url = "{% url 'reference:publication_list' %}" + slug + '/data.json' ;
</script>

<script>  
  var dataSet = {{ tables|safe}}
  $(document).ready(function(){
    table_from_list(dataSet[$('#tableNav>button:enabled')[0].id],{{ table_options|safe }})
    $('#dataTable th:contains("Value")').html(titleize($('#tableNav>button:enabled')[0].id))

    var marker = L.marker([{{ site.latitude }}, {{ site.longitude }}]).addTo(map);
    map.flyTo([{{ site.latitude }}, {{ site.longitude }}], 6, 
      {animate:true,duration:3,}
    );

  });
</script>
<script src="{% static 'main/js/table.js' %}"></script>
{% endblock scripts %}





