{% extends "main/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
  <script src='https://cdn.rawgit.com/larsgw/citation.js/archive/citation.js/citation-0.4.0-9.js'></script>
{% endblock head %}

{% block content %}
  <div class='row justify-content-center'>
    <div class='col-sm-10 col-md-9 col-lg-8 card border-0 pt-2' >
      {% if form.is_multipart %}
      <form enctype="multipart/form-data" method="post">
      {% else %}
      <form method="post">
      {% endif %}
          {% csrf_token %}
          {% for field in form %}
              {% include "main/components/form_field.html" %}
          {% endfor %}
          <div class='text-center mb-3'>
              <button class="btn btn-primary btn-lg" type="submit" data-toggle="modal" data-target="#earthSpinModal">Submit</button>
          </div>
      </form>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="earthSpinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bg-transparent" role="document">
    <div class="modal-content d-block text-center justify-content-center">
      <div style="background-image: url('{% static 'main/images/heat_flow.svg' %}')" class='earth d-inline-block align-middle spin'></div>
      <h5 class="display-5 text-white">Uploading data</h5>
    </div>
  </div>
</div>

<table id="dataTable" class="table table-hover table-striped w-100" >
  <thead class="thead-dark">
  </thead>
</table>





{% endblock content %}

{% block scripts %}

  <script>
  var dataSet = {{ table|safe}}
  console.log(dataSet)
  console.log('Hi')
  var table_options = {{ table_options|safe }}

    $(document).ready(function () {
      table_from_list(dataSet)

      $('.custom-file-input').on('change',function(){
        var fileName = $(this).val();
        var cleanFileName = fileName.replace('C:\\fakepath\\', "");
        $(this).next('.custom-file-label').html(cleanFileName);
      })

    })
  </script>
  <script src="{% static 'main/js/table.js' %}"></script>

{% endblock scripts %}