{% comment %} {% extends "test.html" %} {% endcomment %}
{% load sekizai_tags widget_tweaks static %}

{% block content %}
<div id="downloadOptions" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bg-transparent" role="document">
    <div class="modal-content">
      <section class='banner d-flex'>
          <div class="content p-5">
            <header class="major">
                <h2>Options</h2>
            </header>
            {% if generate_form|default:True %}
            <form id='download-form' method='post'>
              {% csrf_token %}
              {{ form.non_field_errors }}
            {% endif %}
              <label>{{ form.download_type.label }} <i class="far fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{form.download_type.help_text}}"></i></label>
              {% render_field form.download_type %}

              <label class='py-3'>{{ form.data_select.label }} <i class="far fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{form.data_select.help_text}}"></i></label>
                {% render_field form.data_select style="height:150px;"%}
              <ul class="actions fit py-3">
                <li>
                  <button type='submit' class="button fit primary icon solid fa-download large">Download</button>
                </li>
              </ul>
            {% if generate_form|default:True %}</form>{% endif %}
          </div>
      </section>
    </div>
  </div>
</div>

{% addtoblock "js" %}
{% endaddtoblock %}
{% endblock content %}
