{% load static %}
<div class='page-footer'>
  {% comment %} LOGOS {% endcomment %}
  <div class='logo-wrapper'>
    <div class='container d-flex flex-wrap justify-content-lg-between justify-content-around'>
      <a href="https://www.adelaide.edu.au/">
        <img class='pt-2' src="{% static 'main/images/UoA_logo.webp' %}" alt="The University of Adelaide">
      </a>
      <a href="https://www.adelaide.edu.au/mawson-geo/">
        <img src="{% static 'main/images/mawson_geocenter.svg' %}" alt="Mawson Geocenter">
      </a>
      <a href="http://ihfc-iugg.org/">
        <img src="{% static 'main/images/IHFC_logo.svg' %}" alt="International Heat Flow Commission">
      </a>
    </div>
  </div>
  {% comment %} LICENSE {% endcomment %}
  <div class='container pt-3 text-center text-dark'>
    <section>
        <p xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#" class="license-text"><a rel="cc:attributionURL" property="dct:title" href="www.heatflow.org">HeatFlow.org: A repository for data and models related to thermal studies of the Earth</a> by<a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="www.heatflow.org"> Sam Jennings and Derrick Hasterok</a> is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" /></a></p>
    </section>
  </div>
</div>