{% load static widget_tweaks sekizai_tags%}
<div id="sidebar">
    <div class="inner">
        {% include "components/quick-nav.html" %}
        <header class="major my-2 pb-4">
            <h2 class='py-1'>Filters</h2>
        </header>
        <form id='filter-form' class='grid-form text-left' action="" method='POST'>
            {% csrf_token %}
            <div id='map-filter' class="row gtr-uniform tight">
            {% with filter.form as form %}

              <div class="col-12 pb-3">
                {% render_field form.data_type %}
              </div>

              <div class='col-12'><label>{{ form.longitude.label|title }}</label></div>
              {% render_field form.longitude %}

              <div class='col-12'><label>{{ form.latitude.label|title }}</label></div>
              {% render_field form.latitude class="fit" %}

              <div class='col-12'>
                <label>{{ form.continent.label }}</label>
                {% render_field form.continent class="select2" %}
              </div>

              <div class='col-12'>
                <label>{{ form.country.label }}</label>
                {% render_field form.country class="select2" %}
              </div>

              <div class='col-12'>
                <label>{{ form.sea.label }}</label>
                {% render_field form.sea class="select2" %}
              </div>
              <div class='col-12'>
                <label>{{ form.province.label }}</label>
                {% render_field form.province class="select2" %}
              </div>
              <div class='col-12'>
                <label>{{ form.tectonic_environment.label }}</label>
                {% render_field form.tectonic_environment class="select2" %}
              </div>

            {% endwith %}
              {% include "components/download_modal.html" with form=filter.download_form generate_form=False %}

              <div class="col-12 sidebar-submenu">
                <ul class='actions fit pt-4'>
                  <li><button id='filter-clear-button' type='reset' class='fit'>Reset</button></li> 
                  <li><button id='filter-submit-button' type='button' class='fit' onclick="updateData()">Apply</button></li>               
                </ul>
              </div>
              <div class='col-12'>
                <button name='submit-button' value='False' type='button' class='button primary fit' data-toggle="modal" data-target="#downloadOptions">DOWNLOAD</button>
              </div>
            </div>
        </form>
    </div>
</div>
{% addtoblock "js" %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.js"></script>
  <script>
      $(document).ready(function() {
          $('.select2').select2({
            multiple: true,
          });


        {% comment %} $('.select2').each(function () {
          $(this).select2({
            multiple: true,
            ajax: {
              url: /thermoglobe/ajax/{{}}
              dataType: 'json',
            }
          })
        }) {% endcomment %}


      });

      $(document).keypress(function(e){
          if (e.which == 13){
          $("#filter-submit-button").click();
          }
      });
  </script>

{% endaddtoblock %}









