{% load static sekizai_tags custom_tags %}

<header>
  <div class='d-flex justify-content-center py-2'>
    <ul class="nav nav-pills justify-content-center" role="tablist">
      {% for name, table in tables.items %}
        <li>
          <a id="#{{table.id}}-tab" data-toggle="tab" href="#{{table.id}}-container" aria-controls="{{table.id}}-tab" 
          {% if table.active %}class="button primary small" aria-selected="true">
          {% elif table.data != '[]'%}class="button small" aria-selected="false">
          {% else %} class="button small disabled" aria-selected="disabled">
          {% endif %}
          {{ name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <a id='table-download-button' data-toggle="modal" data-target="#downloadOptions"><i class="fas fa-2x fa-download"></i></a>
</header>

<div id="tabbedContent" class="tab-content container-fluid pt-3">
  {% for table in tables.values %}
    <div class="tab-pane fade {% if table.active %}show active{% endif %}" id="{{table.id}}-container" role="tabpanel" aria-labelledby="{{table.id}}-tab">
          {% if table.active or table.data %}
            {% include "components/table.html" %}
          {% endif %}
    </div>
  {% endfor %}
</div>

{% include "components/download_modal.html" with form=download_form%}


{% addtoblock "js" %}
{% endaddtoblock %}