<section id='quick-nav'>
      <a href="javascript:history.back()"><i class="fas fa-2x fa-arrow-alt-circle-left"></i></a>
      <a href="{% url "main:home" %}"><i class="fas fa-2x fa-home"></i></a>
      <a href="{% url "thermoglobe:world_map" %}"><i class="fas fa-2x fa-globe-americas"></i></a>
      <a href="{% url "main:news" %}"><i class="fas fa-2x fa-newspaper"></i></a>
      <a href="{% url "thermoglobe:upload" %}"><i class="fas fa-2x fa-upload"></i></a>
      <a href="{% url "main:faqs" %}"><i class="fas fa-2x fa-question"></i></a>
</section>