{% load i18n %}
<c-card.wrapper class="h-full">
  <div class="card-body gap-2">
    <div>
      <c-badge text="{{ review.get_state_display }}"
               variant="{{ review.state_variant }}"
               size="sm" />
    </div>
    <h2 class="card-title text-base">{{ review.literature }}</h2>
    {% with assessors=review.reviewers.all %}
      {% if assessors %}
        <div class="flex items-center gap-2">
          <div class="avatar-group -space-x-2">
            {% for assessor in assessors %}
              <c-avatar :for="assessor"
                        src="{% if assessor.image %}{{ assessor.profile_image }}{% endif %}"
                        placeholder="{{ assessor.get_initials }}"
                        alt="{{ assessor }}"
                        size="xs" />
            {% endfor %}
          </div>
          <c-text size="sm" tight>
            {% for assessor in assessors %}
              <a class="link link-hover"
                 href="{{ assessor.get_absolute_url }}">{{ assessor }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
          </c-text>
        </div>
      {% endif %}
    {% endwith %}
    <c-text size="sm" muted tight>
      {% trans "Uploaded by" %} {{ review.uploaded_by|default:_("Unknown") }}
    </c-text>
  </div>
</c-card.wrapper>
