{% load crispy_forms_tags i18n socialaccount %}
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h3 class='modal-title'>{% trans "Login" %}</h3>
        <button type="button" class="close shadow-none h-auto" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class='card-body'>
        {% crispy form %}   
        <p><a href="{% url 'account_reset_password' %}">{% trans "Lost password?" %}</a> or <a href="{% url 'account_signup' %}?next={{request.path}}">{% trans "create an account" %}</a></p>
      </div>
      <div class="card-footer text-left bg-light">
        <h5 class='form-group'>{% trans "Sign in using one of our partners" %}</h5>
        <a class='button fit orcid form-group shadow-sm text-large' href="{% provider_login_url 'orcid' %}"><i class="fab fa-orcid"></i> ORCID</a>
        <a class='button fit form-group shadow-sm plain text-large' href="{% provider_login_url 'google' %}"><i class=" fab fa-google"></i> Google</a>
      </div>
    </div>
  </div>
</div>



