{% extends "main/base.html" %}
{% load static %}
{% load humanize %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'main/js/custom_charts.js' %}"></script>
{% endblock head %}

{% block fullwidth %}

{% endblock fullwidth %}




{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class='thermoglobe-logo'>
        {% include 'main/components/thermoglobe_logo.html' with updated=False %}
    </div>
    <hr class="my-4">
    <p class="card-text d-none d-lg-block">{{page.content}}</p>
  </div>
</div>

<div class='container'>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">ThermoGlobe</li>
    </ol>
</div>


<div class="row pb-5">
    <div class='container'>
        <div class="row">
            <div class="col-lg-12">
                {% include "main/components/figure.html" with figure=figures.historical_heat_flow fig_num=1 %}
            </div>
            <div class="col-lg-12">
                <h2>Publications</h2>
                <p>ThermoGlobe is a global database containing thermally related properties</p>
            </div>
        </div>
    </div>
</div>

<div class="row py-5 bg-secondary">
    <div class='container'>
    <div class="row">
        <div class="col-lg-6">
            {% include "main/components/figure.html" with figure=figures.heat_flow_hist fig_num=2 class='bg-secondary' %}
        </div>
        <div class="col-lg-6">
            <h2>Global Heat Flow</h2>
            <p>ThermoGlobe is a global database containing thermally related properties</p>
        </div>
    </div>
    </div>
</div>

<div class="row py-5 ">
    <div class='container'>
    <div class="row">
        <div class="col-lg-6">
            <h2>Thermal Conductivity</h2>
            <p>Thermal conductivity is a parameter crucial to estimating heat flow within the Earth</p>
        </div>
        <div class="col-lg-6">
            {% include "main/components/figure.html" with figure=figures.conductivity fig_num=3 %}
        </div>
    </div>
    </div>
</div>


        {% comment %} {% include "main/components/figure.html" with figure=ContributionsPerYear fig_num=1 %} {% endcomment %}
        {% comment %} {% include "main/components/figure.html" with id="HeatFlowPie" %} {% endcomment %}
        {% comment %} {% include "main/components/figure.html" with id="GradientPie" %} {% endcomment %}
        {% comment %} {% include "main/components/figure.html" with id="HFSeaPie" %}  {% endcomment %}
{% comment %} </div> {% endcomment %}
{% endblock content %}


{% block scripts %}

    <script>
      $(document).ready(function(){
        historical_heat_flow(
            "{{figures.historical_heat_flow.id}}",
            {{figures.historical_heat_flow.data|safe }})

        heat_flow_hist(
            "{{figures.heat_flow_hist.id}}",
            {{figures.heat_flow_hist.data|safe }})

        });


        {% comment %} entries_pie_chart({{heat_flow_pie|safe }},'HeatFlowPie') {% endcomment %}
        {% comment %} entries_pie_chart({{gradient_pie|safe }},'GradientPie') {% endcomment %}
        {% comment %} entries_pie_chart({{heat_flow_sea_pie|safe }},'HFSeaPie') {% endcomment %}



    </script>




{% comment %} <script src="{% static 'main/js/Chart.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="https://unpkg.com/chartjs-plugin-colorschemes"></script> {% endcomment %}
{% comment %} <script src="{% static 'main/js/custom_charts.js' %}"></script> {% endcomment %}

{% comment %} <script>
    data_counts({{ data_counts|safe }},{{ data_labels|safe }})
    sites_by_country({{ country_data|safe }},{{ country_labels|safe }})
    publications_per_year({{ reference|safe }}.reverse())
</script> {% endcomment %}


{% endblock scripts %}
