{% extends "main/base.html" %}
{% load static humanize %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container">
    <div class='display-5'>
        {% comment %} {% include 'main/components/thermoglobe_logo.html' with updated=False %} {% endcomment %}
        Explore ThermoGlobe
    </div>
    <hr class="my-4">
    <p class="card-text d-none d-lg-block">{{page.content}}</p>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">ThermoGlobe</li>
    </ol>
  </div>
</div>

{% comment %} <div class="row pb-5 shadow">
    <div class='container '>
        <div class="row">
            <div class="col-lg-12">
                {% include "main/components/figure.html" with figure=figures.historical_heat_flow fig_num=1 %}
            </div>
            <div class="col-lg-12">
                <h2>Publications</h2>
                <p>ThermoGlobe is a global database containing thermally related properties</p>
            </div>
        </div>
    </div>
</div> {% endcomment %}

<div class="row bg-secondary">
    <div class="col-lg-6">
        {{ tables.heatflow.plot_hist }}
    </div>
    <div class="col-lg-6 bg-white">
        <div class='container p-5'>
            <h2>Global Heat Flow</h2>
            <p>ThermoGlobe is a global database containing thermally related properties</p>
        </div>
    </div>
</div>

<div class="row py-5 ">
    <div class='container'>
    <div class="row">
        <div class="col-lg-6">
            <h2>Thermal Conductivity</h2>
            <p>Thermal conductivity is a parameter crucial to estimating heat flow within the Earth</p>
        </div>
        <div class="col-lg-6">
            {% include "main/components/figure.html" with figure=figures.conductivity fig_num=3 %}
        </div>
    </div>
    </div>
</div>


        {% comment %} {% include "main/components/figure.html" with figure=ContributionsPerYear fig_num=1 %} {% endcomment %}
        {% comment %} {% include "main/components/figure.html" with id="HeatFlowPie" %} {% endcomment %}
        {% comment %} {% include "main/components/figure.html" with id="GradientPie" %} {% endcomment %}
        {% comment %} {% include "main/components/figure.html" with id="HFSeaPie" %}  {% endcomment %}
{% comment %} </div> {% endcomment %}
{% endblock content %}


{% block scripts %}

    <script>
      $(document).ready(function(){
        historical_heat_flow(
            "{{figures.historical_heat_flow.id}}",
            {{figures.historical_heat_flow.data|safe }})

        heat_flow_hist(
            "{{figures.heat_flow_hist.id}}",
            {{figures.heat_flow_hist.data|safe }})

        });


        {% comment %} entries_pie_chart({{heat_flow_pie|safe }},'HeatFlowPie') {% endcomment %}
        {% comment %} entries_pie_chart({{gradient_pie|safe }},'GradientPie') {% endcomment %}
        {% comment %} entries_pie_chart({{heat_flow_sea_pie|safe }},'HFSeaPie') {% endcomment %}



    </script>



{% endblock scripts %}
