{% extends "base.html" %}
{% load sekizai_tags geojson_tags thermoglobe_extras %}

{% block content %}
<div class='inner'>
  {% include "mapping/map.html" %}
  <header id="header" class='py-3'>
    <div class='d-flex'>
        {% include "thermoglobe/components/nav_pills.html" %}
        {% include "thermoglobe/components/nav_actions.html" %}
    </div>
	</header>
  <section class='pt-0'>
    <div id="tabbedContent" class="tab-content container-fluid pt-3">
      <div class="tab-pane fade show active" id="details-container" role="tabpanel" aria-labelledby="details-tab">
        {% include "thermoglobe/full_details.html" %}
      </div>
      {% with "site="|addstr:site.pk as filter_by %}
        {% if object.intervals.all %}{% include "thermoglobe/tables/heat_flow.html" with label='Heat Flow' %}{% endif %}
        {% if object.temperature.all %}{% include "thermoglobe/tables/temperature.html" with label='Temperature' %}{% endif %}
        {% if object.conductivity.all %}{% include "thermoglobe/tables/conductivity.html" with label='Thermal Conductivity' %}{% endif %}
        {% if object.heat_production.all %}{% include "thermoglobe/tables/heat_production.html" with label='Heat Production' %}{% endif %}
      {% endwith %}
    </div>
  </section>      
</div>

{% addtoblock "js" %}<script>$(function(){add_and_zoom({{object|geojsonfeature:"geom,latitude,longitude"|safe}})});</script>{% endaddtoblock %}
{% endblock content %}










