{% extends "thermoglobe/wrappers/map_at_top.html" %}
{% load sekizai_tags geojson_tags thermoglobe_extras crispy_forms_tags i18n %}

{% block below_map %}
<header class='py-3'>
  <p class='mb-3'><span>{{ object.site_name }}</span></p>
  <div class='d-flex'>
    <ul class="nav nav-tabs w-100" id='pills-tab' role="tablist">
      {% comment %} DETAILS {% endcomment %}
      <li class="nav-item"><a id="details-tab" data-bs-toggle="tab" href="#details-container" aria-controls="details-tab" class="small nav-link active" aria-selected="true">{% trans "Details" %}</a></li>

      {% comment %} DATA {% endcomment %}
      <li class="nav-item"><a id="data-tab" data-bs-toggle="tab" href="#data-container" aria-controls="data-tab" class="small nav-link" aria-selected="true">{% trans "Data" %}</a></li>

      {% comment %} PUBLICATIONS {% endcomment %}
      <li class="nav-item"><a id="publications-tab" data-bs-toggle="tab" href="#publications-container" aria-controls="publications-tab" class="small nav-link" aria-selected="true">{% trans "Publications" %}</a></li>

      {% comment %} DISCUSSION {% endcomment %}
      <li class="nav-item"><a id="discussion-tab" data-bs-toggle="tab" href="#discussion-container" aria-controls="discussion-tab" class="small nav-link" aria-selected="true">{% trans "Discussion" %}</a></li>
    </ul>
      {% include "thermoglobe/components/nav_actions.html" %}
  </div>
</header>
<section class='pt-0'>
  <div id="tabbedContent" class="tab-content container-fluid pt-3">
    
    {% comment %} DETAILS TAB {% endcomment %}
    <div class="tab-pane fade show active" id="details-container" role="tabpanel" aria-labelledby="details-tab">
      {% include "thermoglobe/partials/fieldset.html" %}
    </div>

    {% comment %} DATA TAB {% endcomment %}
    <div class="tab-pane fade" id="data-container" role="tabpanel" aria-labelledby="data-tab">
      Some stuff about the data
    </div>

    {% comment %} PUBLICATIONS TAB {% endcomment %}
    <div class="tab-pane fade" id="publications-container" role="tabpanel" aria-labelledby="publications-tab">
      <div class='publication-group'>
        {% for pub in object.reference.all %}
          {% include "crossref/publication.html" %}
        {% endfor %}
      </div>
    </div>

    {% comment %} DISCUSSION TAB {% endcomment %}
    <div class="tab-pane fade" id="discussion-container" role="tabpanel" aria-labelledby="discussion-tab">
      {% include "comments/render_comments.html" with object_descr="this publication" %}
    </div>


  </div>
</section>      
{% endblock below_map %}










