{% extends "base.html" %}
{% load sekizai_tags geojson_tags thermoglobe_extras %}

{% block content %}
<div class='inner'>
  {% include "mapping/map.html" %}
  <header id="header" class='py-3'>
    <div class='d-flex'>
        {% include "thermoglobe/components/nav_pills.html" %}
        {% include "thermoglobe/components/nav_actions.html" %}
    </div>
	</header>
  <section class='pt-0'>
    <div id="tabbedContent" class="tab-content container-fluid pt-3">
      <div class="tab-pane fade show active" id="details-container" role="tabpanel" aria-labelledby="details-tab">
        {% include "thermoglobe/full_details.html" %}
      </div>
      {% if user.is_authenticated %}
      {% with "site="|addstr:site.pk as filter_by %}
        {% for table in tables %}
          {% include "thermoglobe/components/table.html" %}
        {% endfor %}
      {% endwith %}
      {% endif %}
    </div>
  </section>      
</div>
{% endblock content %}










